<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" lang="en">

<!-- START: Meta -->

<meta charset="utf-8" />
<title>My Consents</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />

<!-- END: Meta -->

<!-- START: Mobile Specific -->

<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- END: Mobile Specific -->

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- START: Favicon -->
<!-- 	<link rel="shortcut icon" href="img/favicon.ico"> -->
<!-- END: Favicon -->

</head>

<body id="listConsent-page" class="fouc_loading list-consent-page">

	<div class="container outmost-holder">
	
	<a href="#consent-main-plus-btn" class="offscreen consent-plus-btn">skip to add a consent</a>

		<!-- START: Page Header -->
		<header class="navbar navbar-static-top" role="banner"
			th:with="currentPageTitle='My Consents',currentPageURI='/consents/listConsents.html'">
			<div class="container">
				<div class="navbar-header navbar-inner-header" role="navigation"
					th:substituteby="fragment/patient_fragments :: navbarHeaderFragment">

					<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
					<!-- The code below is here only to enhance source code readability -->

					<a class="btn btn-info btn-mainmenu" data-toggle="collapse"
						data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-bars"></span>
					</a>
					<h1>
						<span class="nav-title">My Consents</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand logo-fragment"
								th:href="@{/index.html}" href="index.html"><span
								id="brand-blue"></span><img
								src="../../resources/img/consent2share-04.svg"
								th:src="@{/resources/img/consent2share-04.svg}" 
								alt="user home page"/></a> <span
								id="watermark" class="pg-watermark"><i><p>This site is for
										DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>

					<!-- COMPONENT: Language Menu Dropdown -->
					<div th:include="fragment/myaccount_menu :: languageFragment"
						class="btn-group btn-right-align">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
							href="#"> <span class="fa fa-flag"></span> <span
							class="hidden-sm hidden-md"> Language</span> <span class="caret"></span>
						</a>

						<ul class="dropdown-menu" role="menu">
							<li role="menuitem"><a
								th:href="@{'/patients/connectionMain.html?lang=en'}">English</a></li>
							<li role="menuitem"><a
								th:href="@{'/patients/connectionMain.html?lang=cn'}">Chinese</a></li>
						</ul>
					</div>

					<!-- COMPONENT: Header Menu-->

					<div th:include="fragment/myaccount_menu :: myaccountMenuFragment"
						class="btn-group pull-right">>

						<!-- COMPONENT: User Dropdown -->

						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
							href="#"> <span class="glyphicon glyphicon-user">&nbsp;</span><span
							class="hidden-sm hidden-md" th:text="#{header_my_account}">
								My Account</span> <span class="caret"></span>
						</a>

						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_my_profile}">My Profile</a></li>
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_change_password}">Change Password</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="../index.html"
								th:href="@{/resources/j_spring_security_logout}"
								th:text="#{header_logout}">Logout</a></li>
						</ul>

					</div>
					<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>
			</div>
			
			<!-- ************* Notification Bars ************** -->
			<div id="event_notification_bar" th:switch="${notify}">
				<span th:case="'add'">
					<div class="alert alert-success rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						You have successfully added a consent!
					</div>
				</span>
			</div>


			<!-- ************ End Notification Bars ************ -->


			<div id="notification_bar"  class="notification-bar" th:switch="${notification}">
				<span th:case="'notification_add_provider'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						To create and manage your consents, you need to add providers.
						Please go to <a href="../patients/connectionMain.html"><strong>My
								Providers</strong></a> to begin this process.
					</div>
				</span> <span th:case="'notification_add_second_provider'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						To create and manage your consents, you need to add a second
						provider. Please go to <a href="../patients/connectionMain.html"><strong>"My
								Providers"</strong></a> to begin this process.
					</div>
				</span> <span th:case="'notification_add_consent'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Click the <a href="../consents/addConsent.html"><strong><button
									class="btn btn-success btn-xs">
									<span class="glyphicon glyphicon-plus glyphicon-white"></span>
								</button></strong></a> button to add a new consent.
					</div>
				</span> <span th:case="'notification_add_consent_successed'">
					<div class="alert alert-success rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Congratulations!</strong> You've successfully added a new
						Consent. You may now click on the <strong>'Manage my
							consent'</strong> button to review and submit your consent for signing.
					</div>
				</span> <span th:case="'notification_review_sign_consent'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						You may now click the <strong>'Manage my consent'</strong> button
						to review and submit your consent for signing.
					</div>
				</span> <span th:case="'notification_sign_consent'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						You have an unsigned consent. To sign your consent, Please go to <a
							href="../consents/listConsents.html"><strong>My
								Consents</strong></a> to review and submit your consent for signing.
					</div>
				</span>
			</div>
		</header>
		<div id="under-header"></div>

		<!-- END : Page Header -->

		<div id="consent-main" class="container">
			<div class="row main-content-wrapper-flux">
				<div id="content" class="content">	

					<!-- START: Side Nav Menu -->

					<div
						th:substituteby="fragment/patient_fragments :: sideNavMenuFragment"
						class="col-md-2 col-sm-3 main-menu-span">
						<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
						<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->

						<div class="navbar-collapse sidebar-nav">
							<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
								<li class="nav-header hidden-md" role="menuitem"></li>

								<li class="active" role="menuitem"><a href="../home.html">
										<div class="glyphicon  glyphicon-home glyphicon-large"></div>
										<span class="hidden-md" th:text="#{sidebar_my_home}">
											My Home</span>
								</a></li>

								<li role="menuitem"><a href="../consents/listConsents.html"
									th:href="@{/consents/listConsents.html}"><div
											class="glyphicon  glyphicon-file"></div> <span
										class="hidden-md" th:text="#{sidebar_my_consents}"> My
											Consents</span></a></li>

								<li role="menuitem"><a href="connectionMain.html"><div
											class="glyphicon  glyphicon-random"></div> <span
										class="hidden-md" th:text="#{sidebar_my_contacts}"> My
											Providers </span></a></li>

								<li role="menuitem"><a href="profile.html"><div
											class="glyphicon  glyphicon-user"></div> <span
										class="hidden-md" th:text="#{sidebar_my_profile}"> My
											Profile</span></a></li>

								<li role="menuitem"><a href="activityHistory.html"><div
											class="glyphicon  glyphicon-time"></div> <span
										class="hidden-md" th:text="#{sidebar_activity_history}">
											Activity History</span></a></li>

								<li role="menuitem"><a
									href="../clinicaldocuments/mymedicalinfo.html"
									th:href="@{/patients/medicalinfo.html}"><div
											class="glyphicon  glyphicon-folder-open"></div> <span
										class="hidden-md" th:text="#{sidebar_medical_documents}">
											Medical Documents</span></a></li>

								<li class="shortcut-button" role="menuitem"><a
									href="../changePassword.html" th:href="@{/changePassword.html}"><div
											class="glyphicon  glyphicon-unlock-alt"></div> <span
										class="hidden-md" th:text="#{sidebar_change_password}">
											Change Password</span></a></li>

								<li class="shortcut-button" role="menuitem"><a
									href="../index.html"
									th:href="@{/resources/j_spring_security_logout}"><div
											class="glyphicon  glyphicon-off"></div> <span
										class="hidden-md" th:text="#{sidebar_logout}"> Logout</span></a></li>
							</ul>
						</div>

						<!-- END OF SECTION REPLACED BY THYMELEAF -->
					</div>

					<!-- END: Side Nav Menu -->


					<!-- JavaScrip Enable Message -->
					<noscript th:substituteby="fragment/common :: noscriptFragment">
						<div class="alert alert-warning col-md-10 col-sm-9">
							<p id="h4-style" class="alert-heading">Warning!</p>
							<p>
								You need to have <a
									href="https://en.wikipedia.org/wiki/JavaScript"
									th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
									target="_blank">JavaScript</a>enabled to use this site.
							</p>
						</div>
					</noscript>



					<!-- START: Content Region-->

					<div id="page-subcontent-holder" role="main"
						class="col-md-10 col-sm-9">
						<div class="row">

							<!-- COMPONENT: Consents -->


							<section class="top-margin10">
								<fieldset class="row">
									<legend th:text="#{list_consent_block_title}">Consents</legend>

									<div class="form-group">
										<div id="consent-main-div-position" class="add-consent-btn-div">
											<!-- 											<p class="h4-style" id="consent-main-h4" th:text="#{list_consent_block_information}">Federal
												Government Assisted Alcohol and Drug Abuse Treatment Program</p> -->

											<p style="color: #FF0000" th:switch="${emailSent}">
												<i th:case="${'true'}"
													th:text="#{list_consent_email_sent_message}"><br />We
													just sent you an email to the address you registered.
													Please go to your mailbox and complete the e-sign.</i> <i
													th:case="${'false'}"></i>
											</p>
											<!-- Issue #124 Fix Start 
											     if no of providers are< 2, the addconsent button should be disabled , else enabled
											 -->
											<!--  Show add a consent button in disable mode when providers are less than 2 -->
											<div
												th:if="(${notification} == 'notification_add_second_provider' or ${notification} =='notification_add_provider' )">
												<span title="plus button" id="consent-main-plus-span" class="add-consent-btn">
													<button id="consent-main-plus-btn"
														class="btn btn-default  btn-xs add-btn"
														disabled="disabled">
														<span class="fa fa-plus fa-white"></span><span
															style="color: black">Add a Consent</span>
													</button>
												</span>
											</div>


											<!--  Show add a consent button in enable mode when providers are more than 2 -->
											<div
												th:unless="(${notification} == 'notification_add_second_provider' or ${notification} =='notification_add_provider' )">

												<span title="plus button" id="consent-main-plus-span" class="add-consent-btn">
													<a id="consent-main-plus-btn"
													class="btn btn-success btn-xs add-btn consent-plus-btn"
													th:href="@{/consents/addConsent.html}"> <span
														class="fa fa-plus fa-white"></span><span>Add a
															Consent</span>
												</a>
												</span>
											</div>
											<!-- Issue #124 Fix End  -->
										</div>

										<div class="clearfix"></div>
									</div>

									<!-- <div class="alert alert-block alert-success">
	                    <p>Add a Consent by clicking on the <strong >+</strong> button.</p>
	                </div> -->
								</fieldset>
							</section>

							<section th:each="consentEntry:${listConsentDtos}"
								th:id="'consent_current_active_'+${consentEntry.id}"
								class="col-sm-12 summary-container consent-current-active bottom-margin5"
								th:attr="data-consent-id=${consentEntry.id}">


								<form th:name="@{'consent_download_' + ${consentEntry.id}}"
									th:action="@{/consents/downloadPdf.html}" method="post">
									<input type="hidden" name="consentId"
										th:value="${consentEntry.id}" /> <input type="hidden"
										name="doctype" th:value="${'consent'}" />
								</form>

								<form th:name="@{'consent_edit_' + ${consentEntry.id}}"
									th:action="@{/consents/editConsent.html}" method="post">
									<input type="hidden" name="consentId"
										th:value="${consentEntry.id}" /> <input type="hidden"
										name="doctype" th:value="${'consent'}" />
								</form>

								<form th:name="@{'revokation_download_' + ${consentEntry.id}}"
									th:action="@{/consents/downloadPdf.html}" method="post">
									<input type="hidden" name="consentId"
										th:value="${consentEntry.id}" /> <input type="hidden"
										name="doctype" th:value="${'revokation'}" />
								</form>

								<form th:name="@{'consent_sign_' + ${consentEntry.id}}"
									th:action="@{/consents/signConsent.html}" method="post"
									target="_blank">
									<input type="hidden" name="consentId"
										th:value="${consentEntry.id}" />
								</form>

								<form th:name="@{'try_my_policy_' + ${consentEntry.id}}"
									th:action="@{/consents/tryMyPolicy.html}" method="post">
									<input type="hidden" name="consentId"
										th:value="${consentEntry.id}" />
								</form>

								<a th:id="'jump_consent_'+${consentEntry.id}"></a>
								<div class="summary-border">

									<!-- Authorized Contacts Section -->
									<div class="summary-section top">
										<div class="consent-name">Consent Name</div>
										<div class="row">
											<div
												class="authorized-summary-container col-md-4 col-sm-4 col-xs-6">

												<p class="authorize">Authorized to share:</p>
												<ul class="provider-ul">
													<li th:each="discloseName:${consentEntry.toDiscloseName}">
														<p th:text="${discloseName}">Washington,
															George</p>
													</li>
												</ul>
											</div>

											<div
												class="authorized-summary-container col-md-4 col-sm-4 col-xs-6 bottom-margin10">
												<p class="authorize">Sharing with:</p>
												<ul class="provider-ul">
													<li th:each="isMadeToName:${consentEntry.isMadeToName}">
														<p th:text="${isMadeToName}">Reagan, Ronald</p>
													</li>
												</ul>
											</div>

											<div class="date-display">
												<p>Effective Date: <span
													th:text="${#calendars.format(consentEntry.consentStart,'MMMM dd yyyy')}"></span></p>
											</div>

											<div class="summary-button-container">
												<button name="consentId"
													th:id="'consentId_'+${consentEntry.id}"
													th:value="${consentEntry.id}" value=""
													class="btn btn-primary summary-centered col-sm-4 col-xs-12"
													th:attr="data-target='#consent_options_modal_'+${consentEntry.id}"
													data-toggle="modal">Manage my consent</button>
											</div>
										</div>

										<div class="clearfix"></div>
										<div class="row consent-status">
											<div th:switch="${consentEntry.revokeStage}">
												<div th:case="REVOCATION_REVOKED">
													<p class="bg-danger consent-status saved">
														Status: <strong>Revoked</strong>.
													</p>
												</div>
												<div th:case="*">
												<div th:switch="${consentEntry.consentStage}">
														<p th:case="CONSENT_SAVED"
															class="bg-danger consent-status saved">
															Status: <strong>Not Signed</strong>.
														</p>
														<p th:case="CONSENT_SUBMITTED"
															class="consent-status signed">
															Status: <strong>Submitted</strong>.
														</p>
														<p th:case="CONSENT_SIGNED" class="consent-status signed">
															Status: <strong>Signed</strong>.
														</p>
													</div>
													
												</div>
											</div>
										</div>
									</div>


									<!-- Share Medical Information Section -->
									<div class="summary-section bottom">

										<div class="sharing-summary-container">
											<div class="column-one"
												th:switch="${consentEntry.medicalInformationNotDisclosed}">
												<p th:case="true"
													th:text="#{list_consent_medical_information}"
													class="sharing-summary-header">Medical Information NOT
													Disclosed:</p>
												<p th:case="false"
													th:text="#{list_consent_medical_information_share}"
													class="sharing-summary-header">Sharing all medical
													information</p>
											</div>
											<div
												th:switch="${consentEntry.medicalInformationNotDisclosed}">
												<div th:case="true">
													<div class="sharing-indicator false"></div>
													<p>
														<span
															th:each="doNotShareClinicalConceptCode:${consentEntry.doNotShareClinicalConceptCodes}"
															th:text="${doNotShareClinicalConceptCode}+';'">Some
															Information</span> <span
															th:each="doNotShareClinicalDocumentTypeCode:${consentEntry.doNotShareClinicalDocumentTypeCodes}"
															th:text="${doNotShareClinicalDocumentTypeCode}+';'">Some
															Information</span> <span
															th:each="doNotShareClinicalDocumentSectionTypeCode:${consentEntry.doNotShareClinicalDocumentSectionTypeCodes}"
															th:text="${doNotShareClinicalDocumentSectionTypeCode}+';'">Some
															Information</span> <span
															th:each="doNotShareSensitivityPolicyCode:${consentEntry.doNotShareSensitivityPolicyCodes}"
															th:text="${doNotShareSensitivityPolicyCode}+';'">Some
															Information</span>
													</p>
												</div>
												<!-- <div th:case="false" >
												<p class="sharing-indicator true"></p>
												<p>All my medical information can be shared</p>
											</div> -->

												<div th:case="false">
													<div class="sharing-indicator true"></div>
													<p>
														<span>All my medical information can be shared.</span>
													</p>
												</div>

											</div>

										</div>

										<div class="sharing-summary-container">
											<div class="column-two">
												<p class="sharing-summary-header"
													th:text="#{list_consent_share_following_purposes}">
													Share for the following purposes:</p>
											</div>

											<div
												th:switch="${#lists.isEmpty(consentEntry.shareForPurposeOfUseCodes)}">
												<div th:case="true">
													<div class="sharing-indicator false"></div>
													<p>
														<span>No medical information is shared for any
															purpose.</span>
													</p>
												</div>
												<div th:case="false">
													<div class="sharing-indicator true"></div>
													<p id="share-for-purpose" class="purpose-of-use">
														<span
															th:each="shareForPurposeOfUseCode:${consentEntry.shareForPurposeOfUseCodes}"
															th:text="${shareForPurposeOfUseCode}+';'">Some
															Purpose</span>
													</p>
												</div>
											</div>
										</div>
									</div>

									<!-- Modal 1 -->
									<div class="modal fade"
										th:id="'consent_options_modal_'+${consentEntry.id}"
										tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">X</button>
													<h2 class="modal-title"
														th:id="'consentOptions_'+${consentEntry.id}">Consent
														Options</h2>
												</div>
												<div class="modal-body">
													<div class="container">

														<!-- View Consent -->
														<div class="row modal-opts-row">
															<span style="font-size: 15px; font-weight: bold;">I
																want to:</span>
														</div>

														<div th:switch="${consentEntry.consentStage}">
															<div th:case="CONSENT_SAVED">
																<!-- Edit Consent -->
																<div class="row modal-opts-row">
																	<div class="hover-state">
																		<a href="#"
																			th:href="@{'javascript:document.' + 'consent_edit_' + ${consentEntry.id} + '.submit()'}">
																			<span class="fa fa-edit"></span> <span
																			class="cmd-edit-consent"
																			th:value="${consentEntry.id}">Edit This
																				Consent</span>
																		</a>
																	</div>
																</div>
																<!-- Preview Consent -->
																<div class="row modal-opts-row">
																	<div class="hover-state">
																		<a href="#"
																			th:href="@{'javascript:document.' + 'consent_download_' + ${consentEntry.id} + '.submit()'}">
																			<span class="fa fa-folder-open-o"></span> <span
																			class="cmd-preview-consent"
																			th:value="${consentEntry.id}">Preview This
																				Consent</span>
																		</a>
																	</div>
																</div>
																<!-- Submit My Consent for Signing -->
																<div class="row modal-opts-row">
																	<div class="hover-state">
																		<a href="#"
																			th:href="@{'javascript:document.' + 'consent_sign_' + ${consentEntry.id} + '.submit()'}">
																			<span class="fa fa-share"></span> <span
																			class="cmd-preview-consent"
																			th:value="${consentEntry.id}">Submit My
																				Consent for Signing</span>
																		</a>
																	</div>
																</div>
															</div>

															<div th:case="CONSENT_SIGNED">
																<!-- View Consent -->
																<div class="row modal-opts-row">
																	<div class="hover-state">
																		<a href="#"
																			th:href="@{'javascript:document.' + 'consent_download_' + ${consentEntry.id} + '.submit()'}">
																			<span class="fa fa-folder-open"></span> <span
																			class="cmd-view-consent"
																			th:value="${consentEntry.id}">View Signed
																				Consent</span>
																		</a>
																	</div>
																</div>

																<!-- Export to XACML -->
																<div class="row modal-opts-row">
																	<div class="hover-state">
																		<a href="#"
																			th:href="@{'exportXACMLConsents/'+ ${consentEntry.id}}">
																			<span class="fa fa-file-text-o"></span> <span
																			class="cmd-export-consent"
																			th:value="${consentEntry.id}">Export to XACML</span>
																		</a>
																	</div>
																</div>
															</div>

														</div>

														<!-- Try Consent -->
														<div class="row modal-opts-row">
															<div class="hover-state">
																<a id="loadTryMyPolicyButton" data-toggle="modal"
																	href="#try_my_policy_modal"
																	th:onclick="'javascript:loadTryMyPolicy(\'' + ${consentEntry.id} + '\');'">
																	<span class="fa fa-search"></span> <span
																	class="cmd-tryPolicy-consent"
																	th:value="${consentEntry.id}">Try My Consent
																		Settings against My Medical Record before Sharing</span>
																</a>
															</div>
														</div>

														<div th:switch="${consentEntry.revokeStage}">

															<div th:case="REVOCATION_NOT_SUBMITTED"
																class="row modal-opts-row">
																<!-- Withdrawal -->
																<div class="hover-state">
																	<a th:id="@{'revoke'+${consentEntry.id}}"
																		href="#revoke-modal" data-toggle="modal"
																		th:text="#{list_consent_withdrawal}"
																		class="revokation-button"> <span
																		class="fa fa-times"></span> <span
																		class="cmd-view-consent" th:value="${consentEntry.id}">Withdrawal</span>
																	</a>
																</div>
															</div>

															<div th:case="REVOCATION_REVOKED"
																class="row modal-opts-row">
																<!-- View Signed Revocation -->
																<div class="hover-state">
																	<a href="#"
																		th:href="@{'javascript:document.' + 'revokation_download_' + ${consentEntry.id} + '.submit()'}">
																		<span class="fa fa-folder-open"></span> <span
																		class="cmd-view-consent" th:value="${consentEntry.id}">View
																			Signed Revocation</span>
																	</a>
																</div>
															</div>

															<div th:case="NA" class="row modal-opts-row">
																<!-- View Signed Revocation -->
																<div class="hover-state">
																	<form th:name="@{'form_delete_' + ${consentEntry.id}}"
																		th:action="@{deleteConsents}" method="post">
																		<input type="hidden" name="consentId"
																			th:value="${consentEntry.id}" /> <a
																			th:href="@{'javascript:document.' + 'form_delete_' + ${consentEntry.id} + '.submit()'}"
																			onclick="return confirm('Are you sure you want to delete this consent?')">
																			<span class="fa fa-times"></span> <span
																			class="cmd-delete-consent"
																			th:value="${consentEntry.id}">Delete This
																				Consent</span>
																		</a>
																	</form>
																</div>
															</div>

														</div>

													</div>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- end /.modal -->


									<div class="clearfix"></div>
								</div>
							</section>

						</div>
					</div>
					<!--end main.col-md-10-->
				</div>
				<!-- end content line 96-->
				<!-- END: Content Region -->

				<!-- Modal 2-->
				<div id="revoke-modal" class="modal fade" tabindex="-1"
					role="dialog" aria-labelledby="clinical-annotation-modal"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">X</button>
								<p class="h3-style">Withdrawal of Consent to Participate in
									C2S</p>
							</div>

							<div class="modal-body">
								<div>
									<div class="alert alert-warning">
										<span>Withdrawal of Consent to Participate in Health
											Information Exchange</span>
									</div>

									<div class="row col-sm-12">
										<div class="row">
											<div class="col-sm-12">I have previously signed a
												patient consent form allowing my providers to access my
												electronic health records through the Consent 2 Share system
												and now want to withdraw that consent. If I sign this form
												as the Patient's Legal Representative, I understand that all
												references in this form to "me" or "my" refer to the
												Patient.</div>
										</div>

										<div class="row">
											<div class="col-sm-12 top-margin10">By withdrawing my
												Consent, I understand that:</div>
										</div>


<!-- 										<div class="row"> -->
<!-- 											<div class="col-sm-12 top-margin10">1) I have two -->
<!-- 												options for denying consent</div> -->
<!-- 										</div> -->
										
										<div class="row">
											<div class="col-sm-12 top-margin10">1) I Deny Consent for all Participants to access my
														electronic health information through Consent 2 Share for
														any purpose, <em>EXCEPT in a medical emergency.</em></div>
										</div>
									</div>

									<form class="row col-sm-11 col-sm-offset-1"
										id="consentRevokationForm"
										th:action="@{/consents/signConsentRevokation}" method="post"
										target="_blank" style="z-index: 1;">
										<input name="revokationType" style="display: none;" hidden="true"
															value="EMERGENCY ONLY" />

<!-- 										<ul> -->
<!-- 											<li> -->
<!-- 												<div class="col-sm-12 top-margin10"> -->
<!-- 													<div class="col-sm-3"> -->
<!-- 														<label class="radio"> <input name="revokationType" -->
<!-- 															type="radio" id="optionsRadio1" value="EMERGENCY ONLY" /> -->
<!-- 															<strong>No Except</strong> -->
<!-- 														</label> -->
<!-- 													</div> -->
<!-- 													<div class="col-sm-8"> -->
<!-- 														I Deny Consent for all Participants to access my -->
<!-- 														electronic health information through Consent 2 Share for -->
<!-- 														any purpose, <em>EXCEPT in a medical emergency.</em> By -->
<!-- 														checking this box you agree, "No, none of the Participants -->
<!-- 														may be given access to my medical records through Consent -->
<!-- 														2 Share unless it is a medical emergency." -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 											</li> -->
<!-- 											<hr class="top-margin10 col-sm-11"></hr> -->

<!-- 											<li> -->
<!-- 												<div class="col-sm-12 top-margin10"> -->
<!-- 													<div class="col-sm-3"> -->
<!-- 														<label class="radio"> <input name="revokationType" -->
<!-- 															type="radio" id="optionsRadio2" value="NO NEVER" /> <strong>No -->
<!-- 																Never</strong> -->
<!-- 														</label> -->
<!-- 													</div> -->
<!-- 													<div class="col-sm-8"> -->
<!-- 														I Deny Consent for all Participants to access my -->
<!-- 														electronic health information through Consent 2 Share for -->
<!-- 														any purpose, <em>INCLUDING in a medical emergency.</em> -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 											</li> -->
<!-- 										</ul> -->
									</form>

									<div class="row col-sm-12">
										<div class="row">
											<div class="col-sm-12 top-margin10">2) Health care
												provider and health insurers that I am enrolled with will no
												longer be able to access health information about me through
												Consent 2 Share, except in an emergency.</div>
										</div>
										<div class="row">
											<div class="col-sm-12 top-margin10">3) The Withdrawal
												of Consent will not affect the exchange of my health
												information while my Consent was in effect.</div>
										</div>
										<div class="row">
											<div class="col-sm-12 top-margin10">4) No Consent 2
												Share participating provider will deny me medical care and
												my insurance eligibility will not be affected based on my
												Withdrawal of Consent.</div>
										</div>
										<div class="row">
											<div class="col-sm-12 top-margin10">5) If I wish to
												reinstate Consent, I may do so by signing and completing a
												new Patient Consent form and returning it to a participating
												provider or payer.</div>
										</div>
										<div class="row">
											<div class="col-sm-12 top-margin10">6) Withdrawing my
												consent does not prevent my health care provider from
												submitting claims to my health insurer for reimbursement for
												services rendered to me.</div>
										</div>
										<div class="row">
											<div class="col-sm-12 top-margin10">7) I understand
												that I will get a copy of this form after I sign it.</div>
										</div>
									</div>

								</div>
							</div>

							<div class="modal-footer">
								<button class="btn btn-default" data-dismiss="modal"
									aria-hidden="true">Cancel</button>
								<button class="btn btn-success" id="signRevokation">
									<span style="margin-right: 10px" class="fa fa-edit"></span>
									Sign
								</button>
							</div>
						</div>
					</div>
				</div>



				<!-- Try My Policy Modal -->
				<div class="modal fade" id="try_my_policy_modal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">

							<form class="form-horizontal"
								th:action="@{/consents/tryMyPolicyApply}" method="post"
								id="applyMyPolicyForm">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
									<h3 class="modal-title">Apply My Record</h3>
								</div>
								<div class="modal-body">

									<div class="container">
										<div class="bottom-margin10">
											<label class="control-label col-lg-4"
												for="tryMyPolicy_c32Docs">C32 Document: </label>
											<div class="controls col-lg-4">
												<select name="c32Id" id="tryMyPolicy_c32Docs"
													class="form-control">
												</select>
											</div>
										</div>
									</div>

									<div class="container">
										<div class="bottom-margin10">
											<label class="control-label col-lg-4"
												for="tryMyPolicy_purposeOfUse">Purpose of Use: </label>
											<div class="controls col-lg-6">
												<select name="purposeOfUse" id="tryMyPolicy_purposeOfUse"
													class="form-control">
												</select>
											</div>
										</div>
									</div>

								</div>

								<div class="modal-footer">
									<a class="btn btn-default" data-dismiss="modal">Close</a>
									<button id="tryMyPolicyApplyButton" class="btn btn-primary"
										type="submit">Apply</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- end first row -->
		</div>
		<!-- end Container -->

		<span th:each="consentEntry:${listConsentDtos}"> <input
			type="hidden" class="consent-entry-input"
			th:id="'consentEntryID'+${consentEntry.id}"
			th:value="${consentEntry.id}"
			th:attr="data-consentstage=${consentEntry.consentStage}, data-revokestage=${consentEntry.revokeStage}" />
		</span>

		<div th:if="${duplicateConsentId}" class="hidden"
			style="display: none;">
			<input type="hidden" id="duplicate_consent_id"
				th:value="${duplicateConsentId}" />
		</div>

		<!-- START: Footer Region -->
		<footer class="bottom"
			th:substituteby="fragment/common :: indexFooterFragment3">
			<div>

				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">
					&copy; <a class="footer-link" href="" target="_blank">A SAMHSA
						Public Service</a> 2013
				</p>

			</div>
		</footer>

		<!-- END: Footer Region -->
	</div>
	<!-- START: JavaScript-->

	<script src="../../../resources/js/jquery.validate.min.js"
		th:src="@{/resources/js/jquery.validate.min.js}"
		type="text/javascript">
		
	</script>

	<script src="../../../resources/js/modernizr.mq.js"
		th:src="@{/resources/js/modernizr.mq.js}" type="text/javascript"></script>

	<script src="../../../resources/js/jquery.cookie.js"
		th:src="@{/resources/js/jquery.cookie.js}" type="text/javascript"></script>
	<script src="../../../resources/js/jquery.toggle.buttons.js"
		th:src="@{/resources/js/jquery.toggle.buttons.js}"
		type="text/javascript"></script>

	<!-- Custom JS Script -->
	<script src="../../../resources/js/consent/listConsent.js"
		th:src="@{/resources/js/consent/listConsent.js}"
		type="text/javascript"></script>

	<!-- END: JavaScript-->

</body>
</html>
