<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragment/common :: headerFragment">
	<!-- title needs to be dynamic -->
	<title>Data Access Failure</title>
	
	<!-- START: Meta -->
	<meta charset="utf-8" />
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<!-- END: Meta -->
	
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../resources/css/c2s-core-style.css" rel="stylesheet"/>
	<!-- END: CSS -->

</head>

<body id="dataAccessFailure-page">
	
<div id="connections-main" class="container outmost-holder">
	
	<!-- START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='Unauthorized Page Access'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/common :: navbarHeaderFragmentBasic">
				<h1>
					<span class="nav-title" th:text="${currentPageTitle}">Page Title</span>
				</h1>
			
				<span th:substituteby="fragment/common :: logoFragment">
					<div style="position: relative;">
						<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
						<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
					</div>
				</span>
			</div>
		</div>
	</header>
	<div id="under-header"></div>
	<!-- end: header Region -->
	
	<noscript th:substituteby="fragment/common :: noscriptFragment">
		<div class="alert alert-warning col-sm-10">
			<p id="h4-style" class="alert-heading">Warning!</p>
			<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
			target="_blank">JavaScript</a>enabled to use this site.</p>
		</div>
	</noscript>
		
	<!-- show side menu, msg and link for previous page if session is still valid, else show msg and link to login page -->
	<div class="container">			
		<div class="row main-content-wrapper" th:switch="${true}"> 
		<span th:case="${true}">   <!-- session.user currentUser -->
			
			<!-- START: Side Nav Menu -->
				<!-- <div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-sm-2 main-menu-span">
				EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment
					The code below is here as a backup only in the event of a Thymeleaf malfunction
					
					<div class="nav-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-tablet" role="menuitem"></li>
							
							<li class="active" role="menuitem"><a href="patients/home.html">
								<div class="icon-home icon-large"></div>
									<span class="hidden-tablet" th:text="#{sidebar_my_home}"> My Home</span></a></li>
									
							<li role="menuitem"><a href="consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="icon-file"></div>
									<span class="hidden-tablet" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>
			
							<li role="menuitem"><a href="patients/connectionMain.html"><div class="icon-random"></div>
									<span class="hidden-tablet" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>
			
							<li role="menuitem"><a href="patients/profile.html"><div class="icon-user"></div>
									<span class="hidden-tablet" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>
			
							<li role="menuitem"><a href="inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="icon-inbox"></div>
									<span class="hidden-tablet" th:text="#{sidebar_in_box}"> Message Center</span></a></li>
			
			
							<li role="menuitem"><a href="patients/activityHistory.html"><div class="icon-time"></div>
									<span class="hidden-tablet" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>
			
							<li role="menuitem"><a href="clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="icon-folder-open"></div>
									<span class="hidden-tablet" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="changePassword.html" th:href="@{/changePassword.html}"><div class="icon-unlock-alt"></div>
									<span class="hidden-tablet" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="index.html" th:href="@{/resources/j_spring_security_logout}"><div class="icon-off"></div>
									<span class="hidden-tablet" th:text="#{sidebar_logout}"> Logout</span></a></li>
						</ul>
					</div>
					
				END OF SECTION REPLACED BY THYMELEAF
				</div> -->
			<!-- END: Side Nav Menu -->
	
	
			<div id="page-fullcontent-holder" role="main" class="container">			
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<section class="top-margin10">
	    	                <fieldset class="row">
							    <legend>You are not authorized to access this page.</legend> 
							    <label class="top-margin10">Please check with your Administrator to confirm that you have the appropriate privileges to access this page.</label>
							    <br />
							    <br />
								<button class="btn btn-primary" onClick="javascript:history.back(-1);" style="margin: 0 10px 10px 0;">Back to previous Page</button>
								<p th:if="${error}" th:text="${error}">No error</p>
					        	<p th:if="${errorMessage}" th:utext="${errorMessage}">No Error Message</p>
				    		</fieldset>
				    	</section>
			    	</div>
		    	</div>
	    	</div>
	    </span>
	    
	    <span th:case="*">
	    	<div id="page-fullcontent-holder" role="main" class="container">			
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<section class="top-margin10">
	    	                <fieldset class="row">
							    <legend>You are not authorized to access this page.</legend> 
							    <label>Please check with your Administrator to confirm that you have the appropriate privileges to access this page.</label>
							    <br />
							    <br />
								<p th:if="${error}" th:text="${error}">No error</p>
					        	<p th:if="${errorMessage}" th:utext="${errorMessage}">No Error Message</p>
				    		</fieldset>
				    	</section>
			    	</div>
		    	</div>
	    	</div>

		</span>
		</div>
		    
	</div> 
	
	<!-- START: Footer Region -->
		<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">
			<!-- COMPONENT: Copyright Information -->
			<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
		</footer>
    <!-- END: Footer Region -->

</div> <!-- end connections-main -->
		
</body>
</html>