<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment/common :: headerFragment"  />

<body id="index-body" class="home-body fouc_loading body-container">

<div class="container outmost-holder">

	<!-- START: Page Header -->

	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='Share with confidence.'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/common :: navbarHeaderFragmentBasic" >
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragmentBasic -->
			<!-- The code below is here only to enhance source code readability -->
				<h1>
					<span class="nav-title" th:text="${currentPageTitle}">Share with confidence.</span>
				</h1>

				<span th:substituteby="fragment/common :: logoFragment">
					<div style="position: relative;">
						<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
						<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
					</div> 
				</span>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
		</div>
	</header>
	<div id="under-header"></div>
	<!-- END : Page Header -->

	<div class="container no-pad">
		<div id="content" class="content">

			<!-- No Side Nav Menu -->

			<!-- JavaScrip Enable Message -->
			<noscript th:substituteby="fragment/common :: noscriptFragment">
				<div class="alert alert-warning col-md-10 col-sm-10">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
					target="_blank">JavaScript</a>enabled to use this site.</p>
				</div>
			</noscript>

			<!-- !START: Content Region-->

			<div>
				<div>
<!-- !Signup Now-->
					<div id="home-feature-container" class="row home-container">
						<section id="home-feature-image" class="home-image">
							<div id="home-feature-text" class="col-md-5 col-sm-5 home-title">Your health is between you
										and your doctor, so take control of your medical privacy.

							</div>

							<div id="home-login-container" class="col-md-6 col-sm-6 login-container">
							<div class="container">

								<fieldset class="login-section">

									<div class="login-section">
									<!--
										<a href="registration.html" th:href="@{registration.html}"
											class="btn btn-block btn-success btn-lg btn-signup">Sign
											up Now.</a>
											-->

											<a href="#"
											class="btn btn-block btn-success btn-lg btn-signup" onclick="alert('Sign up by yourself is temporarily disabled. Please contact your healthcare provider to sign up.')">Sign
											up Now.</a>

										<p>Your medical privacy is important to you, so take
											control of your health records and decide what information to
											share and with whom to share it with. Get started today with a
											free account, setup is easy and fast.
										</p>
										<p style="color: #b22222;"><span style="color:#ff0000;"><em>Please Note:</em></span> This site is for <strong>demonstration purposes</strong> only.  Please <span style="color:#ff0000;"><strong>DO NOT</strong></span> enter any personal data or personal health information.
										</p>
									</div>
								</fieldset>

							<!-- !SECTION: Login With CMS Account -->

								<fieldset class="login-section login-fields">
									<legend>Log in with your C2S account test</legend>

									<div class="login-center">
											<div class="append-2 last"
										     xmlns:th="https://www.thymeleaf.org"
										     th:with="lastUsernameKey=${T(org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter).SPRING_SECURITY_LAST_USERNAME_KEY},
										              lastExceptionKey=${T(org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter).SPRING_SECURITY_LAST_EXCEPTION_KEY}">

											    <div class="loginError" style="color: red;" th:if="${param.login_error}">
											        <span class="errormsg" th:text="${session[__${lastExceptionKey}__].message}">Invalid password</span><p/>
											    </div>
											       <div class="loginExpired" style="color: red;" th:if="${expired}">
											        <span class="errormsg" th:text="#{sessionExpiredConcurrency}">sessionExpiredConcurrency</span><p/>
											    </div>
											    <span class="errormsg" style="color: red;"></span><p/>
											    <div class="loginError" style="color: red;" th:if="${tokenErrorMessage}">
											        <span class="errormsg" th:text="${tokenErrorMessage}">Page has expired! Login again!</span><p/>
											    </div>
										    </div>

										<form th:action="@{/resources/j_spring_security_check}" id="loginForm" method="post" class="login-form">
											<div class="form-group">
										    		<label for="j_username">Username:</label>
										    		<input type="text" class="form-control" id="j_username" name="j_username" autofocus="autofocus" required="required" aria-required="true" />
											</div>

											<div class="form-group">
												<div>
													<label for="j_password">Password:</label>
													<input type="password" class="form-control" id="j_password" name="j_password" required="required" aria-required="true" autocomplete="off" />
												</div>
											</div>

											<div class="submit-control">
												<button type="submit" class="btn btn-primary" id="loginButton" name="loginButton" value="Login">Login</button>
											</div>

											<div class="top-margin10">
	                                    		<a href="loginTrouble.html" th:href="@{loginTrouble.html}"><i>Trouble accessing your account?</i></a>
	                                    	</div>
										</form>

									</div>

								</fieldset>
							<!-- !SECTION: Sign Up Now -->
							</div>
							</div>
						</section>

					</div>
				</div>
			</div>

			<div id="body-features" class="row body-content-features">
						<div class="col-md-4 col-sm-4">
							<h3>What is privacy consent?</h3>
							<p>If you have ever visited a doctors office to receive
								treatment, you most likely were asked by a receptionist at the
								lobby to fill out a privacy consent form as part of your office
								visit. But what is a privacy consent form, and how does it
								effect your health and your privacy?</p>
							<a href="#"> learn more</a>
						</div>

						<div class="col-md-4 col-sm-4">
							<h3>About Consent 2 Share.</h3>
							<p>Consent 2 Share is a publicly funded program which
								provides individuals with education resources and electronic
								tools necessary to manage sharing of health records in a safe
								and secure manner.</p>
							<a href="#"> learn more</a>
						</div>


						<div class="col-md-4 col-sm-4">
							<h3>Learn about privacy.</h3>
							<p>Every year millions of individuals visit the doctors
								office and are asked to share their medical records as part of
								receiving treatment. The unintended consequence is that...</p>
							<a href="#"> learn more</a>
						</div>
					</div>


		</div><!-- end content-->
	</div><!-- end container -->

	<!-- END: Content Region -->
	<!-- ELEMENT: Divider -->


	<!-- START: Footer Region -->

	<footer class="home-footer" th:substituteby="fragment/common :: indexFooterFragment">
		<div id="footer-features" class="footer-content-features">

			<div class="col-md-4 col-sm-4">
				<h3>Education Center</h3>
				<ul class="nav nav-pills">
					<li><a href="#">Balancing Safety and Privacy </a></li>
					<li><a href="#">Consulting Your Doctor</a></li>
					<li><a href="#">Using The Consent 2 Share</a></li>
					<li><a href="#">Health Information Privacy</a></li>
					<li><a href="#">FAQ</a></li>

				</ul>
			</div>

			<div class="col-md-4 col-sm-4">
				<h3>About Us</h3>
				<ul class="nav nav-pills">
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Accessibility</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Disclaimer</a></li>
					<li><a href="#">Feedback</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>

		</div>


	</footer>
	<!-- END: Footer Region -->

</div>

	<!-- START: JavaScript-->
	<script src="../../resources/js/jquery.validate.min.js"
		th:src="@{/resources/js/jquery.validate.min.js}" type="text/javascript">
	</script>

	<script src="../../resources/js/webpage-js/index.js"
		th:src="@{/resources/js/webpage-js/index.js}" type="text/javascript">
	</script>
	<!-- END: JavaScript-->

</body>
</html>
