

<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title th:remove="all">Account Verification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                
    </head>
    <body style="padding:0 50px;">


<table cellpadding="0" cellspacing="0" border="0" align="center" width="70%" bgcolor="#ffffff" style="padding-top:10px; font-family:Helvetica, Arial, sans-serif;">
	<tr>
		<td bgcolor="#fafafa" style="vertical-align:middle; border:1px #d2d2d2 solid; font-size:18px; line-height:30px; font-weight:600; color:#777777; padding:12px">Account Verification<span th:include="fragment/common :: logoFragment">
			<a class="brand" th:href="@{/index.html}"  href="index.html"> <!-- <img alt="Logo Goes Here" src="" /> --> <span id="brand-gray"></span><div id="brand-circle"><span id="brand-blue-2"></span></div><span id="brand-blue"></span></a></span></td>
	</tr>
</table>

<table align="center" width="70%" border="0" cellspacing="0" cellpadding="0" style="padding-top:10px; font-family:Helvetica, Arial, sans-serif;">
	<tr>
		<td style="padding-top: 10px;">
			<table style="color:#777777; padding-right:15px; padding-left:15px;">
				<tr>
					<td style="font-size:16px;">Hello <span th:text="${name}" style="font-weight: 800">John Doe</span>,</td>
				</tr>
				<tr>
		        <td style="font-size:16px; padding-top:20px;"></td>
		        </tr>
		        <tr>
			        <td style="padding:20px; background-color: #fcf8e3;">Please <a href="../../../webapp/WEB-INF/views/index.html"  th:href="${linkUrl}" style="color: #006699;"><strong>click here</strong></a> to verify your email account.</td>
		        </tr>
			    <tr>
		            <td style="font-size:16px; padding-top:10px;">For security purposes we need to confirm your email account to complete your account registration. Your account will not be activated or accessible until you have verified your email. If you would like more information please visit our <a style="color: #006699" href=""> Privacy Policy</a> page. </td>
	            </tr>
	            <tr>
		        <td style="font-size:16px; padding-top:40px;"></td>
		        </tr>
	            <tr>
		            <td style="font-size:14px; padding-top:15px;">Thank you for using Consent2Share,</td>
		        </tr>
		        <tr>
			        <td style="font-size: 14px; padding-top:10px;"><em>--The Consent2Share Team</em></td>
			    </tr>
			     <tr>
			        <td style="font-size: 12px; margin-top: -7px;"><a href="http://www.linkedin.com/" style="color: #006699;">http://www.consent2share.org/</a></td>
			    </tr>
		</table></td>
	</tr>
</table>


<table align="center" width="70%" border="0" cellspacing="0" cellpadding="0" style="padding-top:80px; font-family:Helvetica, Arial, sans-serif;">
  <tr><td><table width="1" border="0" cellspacing="0" cellpadding="0" class=""><tr><td><div style="height:10px;font-size:10px;line-height:10px;">&nbsp;</div></td></tr></table></td></tr>
  <tr>
    <td align="left" style="font-size:11px; font-family:Arial,sans-serif; color:#999999;">

                This email is intended for <span style="font-weight:800;" th:text="${name}">John Doe</span> and is considered confidential information. If you are not the intended recipient, please disregard this email and delete it from your system. For more information visit our <a style="color: #006699" href=""> Privacy Policy</a> page. &copy; 2013, Consent2Share is a Public Service of U.S. DEPARTMENT OF HEALTH AND HUMAN SERVICES Substance Abuse and Mental Health Services Administration <a style="color: #006699" href="">www.samhsa.org</a>    
    </td>
  </tr>
  <tr><td><table width="1" border="0" cellspacing="0" cellpadding="0" class=""><tr><td><div style="height:10px;font-size:10px;line-height:10px;">&nbsp;</div></td></tr></table></td></tr>
</table>


    </body>
</html>