<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment" lang="en">
	<meta charset="utf-8" />
	<!-- title needs to be dynamic -->
	<title>Consent2Share</title>
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<!-- END: Meta -->
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../resources/css/c2s-core-style.css" rel="stylesheet"/>

	<!-- END: CSS -->
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<!-- START: Favicon -->
	<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
	<!-- END: Favicon -->
	

</head>

<body>	
<div id="signup1-main" class="container outmost-holder">
	<!-- !START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='Share with confidence.',backPageURI=@{loginTrouble.html}">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/common :: navbarHeaderFragmentBackOnly">
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragmentBasic -->
			<!-- The code below is here only to enhance source code readability -->
				<a id="bread-crumb-btn" th:href="@{${backPageURI}}" href="#" class="btn btn-info breadcrumb-btn" >
					<span class="fa fa-chevron-left fa-white"></span>
				</a>
				
				<h1>
					<span class="nav-title" th:text="${currentPageTitle}">Page Title</span>
				</h1>
	
				<span th:substituteby="fragment/common :: logoFragment">
					<div style="position: relative;">
						<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
						<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
					</div>
				</span>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
		</div>
	</header>
	<div id="under-header"></div>
	<!-- END : Page Header -->
	
	<div class="row main-content-wrapper-flux">					
		<div id="content" class="content">

	
	<!-- JavaScrip Enable Message -->		
	<noscript th:substituteby="fragment/common :: noscriptFragment">
		<div class="alert alert-warning col-md-10 col-sm-10">
			<p id="h4-style" class="alert-heading">Warning!</p>
			<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
			target="_blank">JavaScript</a>enabled to use this site.</p>
		</div>
	</noscript>
			

				
	<!-- !START: Content Region-->
	
	<div id="page-fullcontent-holder" role="main" class="col-xs-12 col-sm-10 col-sm-offset-1">			
		<div class="row">			

		<!-- !COMPONENT: Create CMS Account -->
	
			<div class="col-sm-9">
				<section class="top-margin10">
					<form id="forgot-password" name="forgot-password" action="newpassword-requested.html" th:action="@{/loginTroublePassword.html}" th:object="${loginTroubleDto}" method="post">
						<fieldset id="login-thirdparty" class="row thirdparty-container">
	                    
							<legend>Forgot your password?</legend>				 
							<div class="alert alert-info top-margin10">Please enter the User Name you use to sign in to your account. All information must match the information used to create this account. </div>
							
							<div class="container">
								<div class="row username-container col-xs-12 col-sm-7 col-md-6 col-lg-5">
		                        	<div class="form-group">
		                        		<label for="username">User Name</label> 
		                        		<input id="username" name="username" class="form-control" type="text" th:field="*{username}" aria-required="true"/>
		                        		<span class="required-text" th:errors="*{username}">Username must be between 3 and 30 characters long.</span>
		                        	</div>
		                        	
		                        	<div class="form-group">
		                        		<label for="email">Email</label> 
		                        		<input id="email" name="email" class="form-control" type="text" th:field="*{email}" aria-required="true"/>
		                        		<span class="required-text"  th:errors="*{email}">Please provide a valid email address.</span>
		                        	</div>
	                        	</div>
	                        	<div class="clearfix"></div>
	                        	<div class="row bottom-btn-group">
	                        		<div class="submit-cancel-controls">
	                        			<button type="button" class="btn btn-default" onClick="window.location.href='index.html'" style="margin: 0 10px 0 0;">Cancel</button>
	                        			<button id="forgotPasswordFormSubmitButton" type="submit" value="Submit" class="btn btn-primary">Submit</button>
	                        		</div>
	                        	</div>
                        	</div>
                        	
						</fieldset>
					</form>
				</section>
			</div>

		</div><!--/#content.col-md-10-->
	</div><!--/row-->
	</div>
	<!-- END: Content Region -->


	</div>
	<!-- !START: Footer Region -->
		<footer class="bottom" th:substituteby="fragment/common :: indexFooterFragment3">

				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
		</footer>
	<!-- !END: Footer Region -->
	
</div>

<!-- START: JavaScript-->
<script src="../../../resources/js/webpage-js/loginTroublePassword.js"
		th:src="@{/resources/js/webpage-js/loginTroublePassword.js}"
		type="text/javascript" th:inline="javascript"></script>

<!-- END: JavaScript-->
	
</body>
</html>
