<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment/common :: headerFragment" />
<head>
	<!-- Custom CSS Files -->
	<link th:href="@{/resources/css/custom/valueset-style.css}" rel="stylesheet" />
</head>
<body id="conceptCodeEdit-page">

<div class="container outmost-holder">
	<!-- !START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='Edit Concept Code ',currentPageURI='/sysadmin/conceptCodeEdit.html',backPageURI='/sysadmin/conceptCodeList.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/sysadmin_fragments :: navbarHeaderFragment">
			
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
			<!-- The code below is here only to enhance source code readability -->
			
					<a th:include="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-bars"></span>
					</a>
					<h1>
						<span class="nav-title">Edit Concept Code</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
							<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>
			</div>
			
			<div th:if="${conceptCodeDto}" id="event_notification_bar">	
				<div th:if="${conceptCodeDto.isError}" class="alert alert-warning rounded">
	 				<span th:text="${conceptCodeDto.errorMessage}">exception
						...</span>
				</div> 					
			</div>			
			
		</div>
	</header>
	
	<div id="under-header"></div>

		<!-- END : Page Header -->
	<div id="conceptCodeEdit-page" class="container">

		<div class="row main-content-wrapper">

			<div id="content" class="content">
				<!-- START: Side Nav Menu -->
				<div th:substituteby="fragment/sysadmin_fragments :: sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-span">
				</div>
				<!-- END: Side Nav Menu -->


				<!-- JavaScrip Enable Message -->
				<noscript th:substituteby="fragment/common :: noscriptFragment">
					<div class="alert alert-warning col-md-10 col-sm-9">
						<p id="h4-style" class="alert-heading">Warning!</p>
						<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
						target="_blank">JavaScript</a>enabled to use this site.</p>
					</div>
				</noscript>

	<!-- START: Concept Code List -->
	
	<div id="page-subcontent-holder" role="main" class="col-md-10 col-sm-9">			
			<div class="row">	
			<div>				
				 <section class="top-margin10">
				 	<form id="edit_valueset_action" action="#" th:action="@{'/sysadmin/conceptCode/edit/'+ ${conceptCodeDto.id}}" th:object="${conceptCodeDto}" method="post">
					 	<fieldset id="valueset-thirdparty" class="row">
					 		<legend>Edit Concept Code</legend> 
	                                <div class="col-md-9 col-sm-9 top-margin10">
	                                	<div class="row valueset-container">
	                                    	<div class="form-group">
					              		 		<label for="new-code">Code System Name - Version Name:</label> 
					              		 	 	<span th:text=" ${conceptCodeDto.codeSystemName} + '    :   ' + ${conceptCodeDto.codeSystemVersionName} " style="margin-left: 5px; font-weight: bold;"></span>
						              		</div>	                                    	
						              		
<!-- checkbox -->	       
						                  <div class="bottom-margin10">
		                                    	<button id="btn_update_valsets" type="button" class="btn btn-primary" data-toggle="modal" data-target="#valueSetName-modal"><span></span><span>Update Value Set Names</span></button>
		                                    </div>
												<div id="selected_valusets_name_display_holder" class="selected_valusets_name_holder"></div>			                                    
<!-- value set modal -->
		                                    <div class="modal fade" id="valueSetName-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  												<div class="modal-dialog">
    												<div class="modal-content">
												      <div class="modal-header">
												        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
												        <h4 class="modal-title" id="myModalLabel">Value Set Names</h4>
												      </div>
												      <div class="modal-body">
		                                    
					                                    <div id="selected_valsets_holder" class="hidden">
				                                    		<input th:each="curValSet : ${conceptCodeDto.valueSetIds}" class="selected_valset_record" type="hidden" th:attr="data-valset-id=${curValSet}" />
				                                    	</div>	
				                                    				                                    
				                                    	<div>Please Select Value Set Names</div>
			                                    		<div id="valset_list_holder" class="checkbox-inline">
			                                    			<div th:each="valueSet :${conceptCodeDto.valueSetMap}"> 
			                                    				<input class="valset_list_record" name="valueSetIds" type="checkbox" th:value="${valueSet.key}" th:text="${valueSet.value}" 
			                                    					th:attr="data-valset-id=${valueSet.key}, data-valset-name=${valueSet.value}" >Checkbox Text</input>
			                                    			</div>
			                                    		</div>
				                                    	
														
													</div>
													<div class="modal-footer">
														<!-- <div class="row bottom-btn-group"> -->
					                               			<button id="btn_cancel_valuesetname" type="button" class="btn btn-default" style="margin: 0 10px 0 0;" 
												                     data-dismiss="modal"  aria-hidden="true">Cancel</button>
					                               			<button id="btn_save_valuesetname" type="button"  class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save</button>
					                                	<!-- </div> -->
					                                </div>
												</div>
												</div>
											</div>
<!-- end of value set modal -->											                                	
<!-- end of checkbox -->							              		
						              		
						              		
						              		
						              		
						              		
		                                    <div class="form-group">
		                                    	<label for="new-code">Concept Code Code</label> 
		                                    	<div>
		                                    		<input id="code" name="code" type="text" th:field="*{code}" class="form-control  required" />
			                                     </div>
		                                    </div>
		                                    <div class="form-group">	 
		                                    	<label for="new-name">Concept Code Name</label> 
		                                    	<div>
		                                    		<input id="name" name="name" type="text" th:field="*{name}" class="form-control  required" />
		                                    	</div>
		                                    </div>
		                                    <div class="form-group">
		                                    	<label for="new-displayName">Concept Code description</label> 
		                                    	<div>
		                                    		<input id="description" name="description" type="text" th:field="*{description}" class="form-control" />
		                                    	</div>
		                                    </div>
		                                </div>
										
										<div class="row bottom-btn-group">
	                               			<button type="button" class="btn btn-default" onClick="window.location.href='../../conceptCodeList.html'" style="margin: 0 10px 0 0;">Cancel</button>
	                               			<button type="submit" value="Save" class="btn btn-primary">Save</button>
	                                	</div>
                                	</div>
									
						</fieldset>
					</form>
               </section>
			</div>
		</div>
		</div><!--/#content.col-md-10-->
	</div><!--/fluid-row-->
<!-- END: Concept Code List --> 
</div>
</div>
<!-- START: Footer Region -->
<footer class="bottom" th:include="fragment/common :: [//footer[@id='center-footer']]">

		<!-- COMPONENT: Copyright Information -->
		<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
</footer>
<!-- END: Footer Region -->


<!-- JavaScript References -->
<script th:src="@{/resources/js/webpage-js/deepcopyutility.js}"
	src="../../../../resources/js/webpage-js/deepcopyutility.js"
	type="text/javascript"></script>
	
<script src="../../../../resources/js/jquery.validate.min.js"  
		th:src="@{/resources/js/jquery.validate.min.js}" type="text/javascript">
	</script>		

<script th:src="@{/resources/js/webpage-js/sysadmin/conceptCodeEdit.js}"
	src="../../../../resources/js/webpage-js/sysadmin/conceptCodeEdit.js"
	type="text/javascript"></script>	
</div>	
</body>
</html>
