<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
	
<head th:include="fragment/common :: headerFragment" > 
<meta charset="utf-8" />
<!-- title needs to be dynamic -->
<title>Consent2Share</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />
<!-- END: Meta -->
<!-- START: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END: Mobile Specific -->
	
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-toggle-buttons.css" rel="stylesheet"/>
	<link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="../../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/c2s-core-style.css" rel="stylesheet"/>	
	<!-- END: CSS -->
	
<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- START: Favicon -->
<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
<!-- END: Favicon -->

</head>

<body>

<div id="mymedicalinfo" class="container outmost-holder">

<a href="#uploadDocuments" class="offscreen">skip to upload medical documents</a>

    <!-- START: Page Header -->
    <header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='My Medical Information',currentPageURI='/patients/medicalinfo.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/patient_fragments :: navbarHeaderFragmentNoLang">
			
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
			<!-- The code below is here only to enhance source code readability -->
			
					<a th:include="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-bars"></span>
					</a>
					<h1>
						<span class="nav-title">My Medical Information</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" alt="user home page"/></a>
							<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>

					<!-- COMPONENT: Header Menu-->

					<div th:include="fragment/myaccount_menu :: myaccountMenuFragment"
						class="btn-group pull-right">

						<!-- COMPONENT: User Dropdown -->

						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user">&nbsp;</span><span
							class="hidden-sm hidden-md" th:text="#{header_my_account}">
								My Account</span> <span class="caret"></span>
						</a>

						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_my_profile}">My Profile</a></li>
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_change_password}">Change Password</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="../index.html"
								th:href="@{/resources/j_spring_security_logout}"
								th:text="#{header_logout}">Logout</a></li>
						</ul>
					</div>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
		</div>
	</header>
    <div id="under-header"></div>
    
    <!-- END : Page Header -->

    <div id="upload-main" class="container">
        <div id="content" class="row main-content-wrapper-flux content">
        
        	<!-- START: Side Nav Menu -->

				<div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-span">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
					
					<div class="navbar-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-md" role="menuitem"></li>
							
							<li class="active" role="menuitem"><a href="../home.html">
								<div class="glyphicon-home glyphicon-large"></div>
									<span class="hidden-md" th:text="#{sidebar_my_home}"> My Home</span></a></li>
									
							<li role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="glyphicon-file"></div>
									<span class="hidden-md" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>
			
							<li role="menuitem"><a href="connectionMain.html"><div class="glyphicon-random"></div>
									<span class="hidden-md" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>
			
							<li role="menuitem"><a href="profile.html"><div class="glyphicon-user"></div>
									<span class="hidden-md" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>
			
							<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="glyphicon-inbox"></div>
									<span class="hidden-md" th:text="#{sidebar_in_box}"> Message Center</span></a></li>

							<li role="menuitem"><a href="activityHistory.html"><div class="glyphicon-time"></div>
									<span class="hidden-md" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>
			
							<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="glyphicon-folder-open"></div>
									<span class="hidden-md" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="glyphicon-unlock-alt"></div>
									<span class="hidden-md" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}"><div class="glyphicon-off"></div>
									<span class="hidden-md" th:text="#{sidebar_logout}"> Logout</span></a></li>
						</ul>
					</div>
					
				<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>

	<!-- END: Side Nav Menu -->
                       
           <!-- JavaScrip Enable Message -->
			<noscript th:substituteby="fragment/common :: noscriptFragment">
				<div class="alert alert-warning col-md-10 col-sm-9">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
					target="_blank">JavaScript</a>enabled to use this site.</p>
				</div>
			</noscript>
          
          
          <!-- !START: Content Region-->

          <div id="page-subcontent-holder" role="main" class="col-md-10 col-sm-9">
                <div class="row">
                    <!-- !SECTION: Provider Lookup -->
 
<!--                <div class="col-md-9 col-sm-9">

                        <section class="top-margin10">
                            <div class="form-horizontal">
			                    <fieldset>
			                        			                        
			                    </fieldset>
		                    </div>
                        </section>
                   
                    </div>
-->                    
                    <!-- end box col-md-9XXX -->
                    
                    	<section class="top-margin10">
	                    	<fieldset class="row">
							    <legend class="media bottom-margin10">Manage My Medical Information</legend>
			
			                        
			                        <div class="top-margin10">
							        	<p class="h4-style">Medical Document Management</p>
							        	<p class="top-margin10">Choose to upload your electronic Medical Documents. Or you may enter your medical information manually.</p>
							        </div>
							    
							       
							    
							    <br/>
							    
							    <section id="medical-documents" class="medical-doc-section">
								    <div class="bottom-margin10">
								    	<p>If you have electronic versions of your Medical Records, you may upload them here.</p>
								    	<button class="btn btn-primary" id="uploadDocuments" onClick="window.location.href='clinicaldocuments.html'">Upload Medical Documents</button>
								    </div>
								    <div class="top-margin10">
								    	<p>If you do not have an existing electronic Medical Record, you may manually enter your medical information here.</p>
								    	<button class="btn btn-info">Manually Enter Medical Information</button>
								    </div>
							    </section>
							    <!-- The file upload form used as target for the file upload widget -->
<!--
							    <br/>
							    <div class="well alert top-margin10">
							        <p><strong>Available for use.</strong> This box may or may not be here at a later point in time.</p>
							    </div>
-->
	                    	</fieldset>
                    	</section>
                    
                </div><!-- end row -->
            </div><!-- end col-md-10-->
        </div><!-- end content row -->
        <!-- END: Content Region -->
        <!-- ELEMENT: Divider -->
    </div><!-- end container -->
    
    <!-- START: Footer Region -->
	<footer class="bottom" th:substituteby="fragment/common :: indexFooterFragment3">
			
			<!-- COMPONENT: Copyright Information -->
			<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>

	</footer>
	
	<!-- END: Footer Region -->
    
</div>

</body>
</html>
