<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
	
<head th:include="fragment/common :: headerFragment" > 
	<meta charset="utf-8" />
	<!-- title needs to be dynamic -->
	<title>Consent2Share</title>
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<!-- END: Meta -->
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/c2s-core-style.css" rel="stylesheet"/>
	<!-- END: CSS -->
	
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<!-- START: Favicon -->
	<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
	<!-- END: Favicon -->
</head>

<body>

<div id="upload-main" class="container outmost-holder">

<a href="#name" class="offscreen">skip to edit name</a>

	<!-- START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='My Medical Information',currentPageURI='/patients/profile.html',backPageURI='/patients/medicalinfo.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/patient_fragments :: navbarHeaderFragmentBackAndAccount">
				<a th:substituteby="fragment/common :: backButtonFragment" id="bread-crumb-btn" th:href="@{${backPageURI}}" href="#" class="btn btn-info breadcrumb-btn" >
					<span class="fa fa-chevron-left fa-white"></span>
				</a>
				
				<a th:substituteby="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
					<span class="fa fa-bars"></span>
				</a>
				<h1>
					<span class="nav-title" th:text="${currentPageTitle}">Page Title</span>
				</h1>
	
				<span th:substituteby="fragment/common :: logoFragment">
					<div style="position: relative;">
						<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
						<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
					</div>
				</span>
	
				<!-- COMPONENT: Header Menu-->
	
				<div th:substituteby="fragment/myaccount_menu :: myaccountMenuFragment"
					class="btn-group pull-right">
					<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE myaccountMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
	
					<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
						class="hidden-sm hidden-md"> Message Center</span> <span
						class="label label-warning hidden-sm">3</span>
					</a>
	
					<!-- COMPONENT: User Dropdown -->
	
					<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="glyphicon glyphicon-user">&nbsp;</span><span
						class="hidden-sm hidden-md" th:text="#{header_my_account}">
							My Account</span> <span class="caret"></span>
					</a>
	
					<ul role="menu" class="dropdown-menu">
						<li role="menuitem"><a href="profile.html"
							th:href="@{/patients/profile.html}"
							th:text="#{header_my_profile}">My Profile</a></li>
						<li role="menuitem"><a href="profile.html"
							th:href="@{/patients/profile.html}"
							th:text="#{header_change_password}">Change Password</a></li>
						<li role="menuitem" aria-disabled="true" class="divider"></li>
						<li role="menuitem"><a href="../index.html"
							th:href="@{/resources/j_spring_security_logout}"
							th:text="#{header_logout}">Logout</a></li>
					</ul>
	
					<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>
			</div>
		</div>
	</header>
    <div id="under-header"></div>
    <!-- END : Page Header -->
    
        <div id="notification_bar"  class="notification-bar" th:switch="${notification}">
        
        		<span th:case="'success'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			You have successfully uploaded your clinical document.
					</div>
				</span>
				
				<span th:case="'virus_detected'">
					<div class="alert alert-danger rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			Virus is detected. Upload failed.
					</div>
				</span>
				
				<span th:case="'error'">
					<div class="alert alert-danger rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			Oops! The upload service is currently unavailable. Please try again later.
					</div>
				</span>
				
				<span th:case="'size_over_limits'">
					<div class="alert alert-warning rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			The file you tried to upload is over the 10MB limit. 
					</div>
				</span>
				
				<span th:case="'extension_not_permitted'">
					<div class="alert alert-warning rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			The type of file you tried to upload is not supported. Only .xml and .txt files are permitted.
					</div>
				</span>
				
				<span th:case="'wrong_captcha'">
					<div class="alert alert-warning rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			The CAPTCHA you entered is wrong. Please try again.
					</div>
				</span>
				
				<span th:case="'invalid_c32'">
					<div class="alert alert-warning rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			The document you upload is not a valid c32 file.
					</div>
				</span>
		</div>
    
<div id="upload-med-documents" class="container">
    <div id="content" class="row main-content-wrapper-flux content">
    	
    			<!-- START: Side Nav Menu -->
				<div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-sm-2 main-menu-span">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
					
					<div class="navbar-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-md" role="menuitem"></li>
							
							<li class="active" role="menuitem"><a href="../home.html">
								<div class="glyphicon-home glyphicon-large"></div>
									<span class="hidden-md" th:text="#{sidebar_my_home}"> My Home</span></a></li>
									
							<li role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="glyphicon-file"></div>
									<span class="hidden-md" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>
			
							<li role="menuitem"><a href="connectionMain.html"><div class="glyphicon-random"></div>
									<span class="hidden-md" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>
			
							<li role="menuitem"><a href="profile.html"><div class="glyphicon-user"></div>
									<span class="hidden-md" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>
			
							<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="glyphicon-inbox"></div>
									<span class="hidden-md" th:text="#{sidebar_in_box}"> Message Center</span></a></li>
			
			
							<li role="menuitem"><a href="activityHistory.html"><div class="glyphicon-time"></div>
									<span class="hidden-md" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>
			
							<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="glyphicon-folder-open"></div>
									<span class="hidden-md" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="glyphicon-unlock-alt"></div>
									<span class="hidden-md" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}"><div class="glyphicon-off"></div>
									<span class="hidden-md" th:text="#{sidebar_logout}"> Logout</span></a></li>
						</ul>
					</div>
					
				<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>

	<!-- END: Side Nav Menu -->
                       
           <!-- JavaScrip Enable Message -->
			<noscript th:substituteby="fragment/common :: noscriptFragment">
				<div class="alert alert-warning col-sm-10">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
						target="_blank">JavaScript</a>enabled to use this site.</p>
				</div>
			</noscript>
          
          
          <!-- !START: Content Region-->
          
          <div id="page-subcontent-holder" role="main" class="col-md-10 col-sm-9" th:inline="text">
          <div class="row">
          <section class="top-margin10">
			<fieldset class="row">
			<legend>Upload Medical Documents</legend>
			<div id="test" class="row upload-medical-document">
			<div class="box col-md-5 col-sm-12">					
				<div class="box-header">
					<h2>
						<span class="fa fa-upload"></span><span class="break"></span>Upload
					</h2>
					<div class="box-icon"></div>
				</div>
				
				<div class="box-content"> 			 
				 <form id="documentUploadForm" action="#" th:action="@{/patients/clinicaldocuments.html}+'?'+${_csrf.parameterName}+'='+${_csrf.token}" method="post" enctype="multipart/form-data">	
				    <div class="form-group">
				        <div class="">
				        	<label for="name">Name</label>
				        	<input id="name" name="name" type="text" required="required" aria-required="true" class="form-control"/>
				        </div>
				    </div>
				    <div class="form-group">
				        <div class="">
				        	<label for="description">Description</label>
				        	<textarea name="description" id="description" rows="4" class="form-control"></textarea>
				        </div>
				    </div>
				    
				    
				 <!--  Fix issue #525 Start
				   	Remove Clinincal Document Type Dropdown field as requirement.    
				 -->
				    <div class="form-group">
				    	<div class="">
				        	<label for="documentType">Clinical Document Type: </label>
				        	<span>Episode Summary Note</span>
				        	<input type="hidden" id="documentType" name="documentType" value="Episode Summary Note" ></input>							
						</div>
				    </div> 
				    <!-- Fix issue #525 end -->
				   
				    
				    <div class="form-group">
				    	<div class="">
				        	<label for="file">Clinical Document</label>
				        	<input type="file" name="file" id="file"  required="required" aria-required="true" class="form-control"></input>
				        </div>
				    </div>
				    
				    <div th:utext="${captcha}">

				    </div>
				    <div class="form-group top-margin10">
				    	<div class="">
				        	<button id="documentUploadFormSubmitButton" class="btn btn-primary" type="submit" value="Upload">Upload</button>
				        </div>
				    </div>
				</form>
				
				</div>
				</div>
				
				<div class="box col-md-7 col-sm-12">
					
					<div class="box-header">
						<span class="pull-left">
							<span class="fa fa-file-text"></span><span class="break"></span>
						</span>	
						<h2 class="" th:if="${#lists.isEmpty(clinicaldocumentDtos)}">No Documents Found</h2>
						<h2 class="" th:if="${not #lists.isEmpty(clinicaldocumentDtos)}">Uploaded Documents</h2>						
						<div class="box-icon"></div>
					</div>
				
					<!-- <p class="h4-style" th:if="${#lists.isEmpty(clinicaldocumentDtos)}">No Documents Found</p>
					<p class="h4-style" th:if="${not #lists.isEmpty(clinicaldocumentDtos)}">Uploaded Documents</p><br/> -->					
					<div class="box-content"> 
					<table th:if="${not #lists.isEmpty(clinicaldocumentDtos)}" class="table table-striped table-hover" style="word-wrap:break-all; text-align:center;" height="100">
						<thead>
						<tr> 
						    <th class="">Name</th>
						    <th class="">Document Type</th>
						    <th class="">Description</th>
						    <th class="">Operation</th>
						</tr>
						</thead>
						<tbody>
					    <tr th:each="clinicaldocumentDto : ${clinicaldocumentDtos}">
					        <td style="text-align: left;" th:text="${clinicaldocumentDto.name}">name</td>
					        <!-- 
					        	<td style="text-align: left;" th:object="${clinicaldocumentDto.clinicalDocumentTypeCode}" 
					        	th:text="*{displayName}">document type</td> 
					        -->
					        <td style="text-align: left;">Episode Summary Note</td>
					        
					        <!-- Fix issue #525 end -->
					        
					        
					        <td style="text-align: left;" th:text="${clinicaldocumentDto.description}">description</td>
	
					        <td class="">
								<form th:name="@{'form_download_' + ${clinicaldocumentDto.id}}" th:action="@{/patients/downloaddoc.html}" method="post">
									<input type="hidden" name="download_id" th:value="${clinicaldocumentDto.id}"/>
									<a th:href="@{'javascript:document.' + 'form_download_' + ${clinicaldocumentDto.id} + '.submit()'}"><img src="../../resources/img/delete_clinical_document_icon.png" alt="Download" title="Download" th:src="@{/resources/img/download_clinical_document_icon.png}"/></a>
								</form>
								<form th:name="@{'form_delete_' + ${clinicaldocumentDto.id}}" th:action="@{/patients/deletedoc.html}" method="post">
									<input type="hidden" name="delete_id" th:value="${clinicaldocumentDto.id}"/>
									<a th:href="@{'javascript:document.' + 'form_delete_' + ${clinicaldocumentDto.id} + '.submit()'}" onclick="return confirm('Are you sure you want to delete this document?')"><img src="../../resources/img/delete_clinical_document_icon.png" alt="Delete" title="Delete" th:src="@{/resources/img/delete_clinical_document_icon.png}"/></a>
								</form>
					        </td>
					    </tr>
					    </tbody>
					</table>
					</div>
				</div>
				</div>
			</fieldset>
			</section>	
			</div>	
            </div><!-- end col-md-10-->

        
        </div><!-- end content row -->
        </div>
        <!-- END: Content Region -->
        <!-- ELEMENT: Divider -->

        <div class="clearfix"></div>
  
		<!-- START: Footer Region -->
		<footer class="bottom" th:substituteby="fragment/common :: indexFooterFragment4-captcha">
				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>

		</footer>
		
		<!-- END: Footer Region -->

    </div><!-- end container -->
    
    <!-- START: JavaScript-->
	<script src="../../../resources/js/webpage-js/secureClinicalDocuments.js" 
				th:src="@{/resources/js/webpage-js/secureClinicalDocuments.js}"
				type="text/javascript" th:inline="javascript"></script>
	
	<!-- END: JavaScript-->
</body>
</html>
