<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment/common :: headerFragment">
<meta charset="utf-8" />
<!-- title needs to be dynamic -->
<title>Activity History</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />
<!-- END: Meta -->
<!-- START: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-toggle-buttons.css" rel="stylesheet"/>
	<link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="../../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/c2s-core-style.css" rel="stylesheet"/>
	<!-- END: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->



	<!-- START: Favicon -->
		<!-- 	<link rel="shortcut icon" href="img/favicon.ico"> -->
	<!-- END: Favicon -->

</head>

<body id="activityHistory-page" class="activity-history-page">
		
	<div id="activityHistory" class="container outmost-holder">
	<!-- START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='Activity History',currentPageURI='/patients/activityHistory.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/patient_fragments :: navbarHeaderFragmentNoLang">
			
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
			<!-- The code below is here only to enhance source code readability -->
			
					<a th:include="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-bars"></span>
					</a>
					<h1>
						<span class="nav-title">Activity History</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" alt="user home page"/></a>
							<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>
					
					<!-- COMPONENT: Language Menu Dropdown -->
					<div th:include="fragment/myaccount_menu :: languageFragment" class="btn-group btn-right-align">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="fa fa-flag"></span>
							<span class="hidden-sm hidden-md"> Language</span>
							<span class="caret"></span>
						</a>
						
						<ul class="dropdown-menu" role="menu">
							<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=en'}">English</a></li>
							<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=cn'}">Chinese</a></li>
						</ul>
					</div>

					<!-- COMPONENT: Header Menu-->

					<div th:include="fragment/myaccount_menu :: myaccountMenuFragment"
						class="btn-group pull-right">

						<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
							class="hidden-sm hidden-md"> Message Center</span> <span
							class="label label-warning hidden-sm">3</span>
						</a>

						<!-- COMPONENT: User Dropdown -->

						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user">&nbsp;</span><span
							class="hidden-sm hidden-md" th:text="#{header_my_account}">
								My Account</span> <span class="caret"></span>
						</a>

						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_my_profile}">My Profile</a></li>
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_change_password}">Change Password</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="../index.html"
								th:href="@{/resources/j_spring_security_logout}"
								th:text="#{header_logout}">Logout</a></li>
						</ul>
					</div>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
		</div>
	</header>
	<div id="under-header"></div>
	<!-- END : Page Header -->
	
	<div class="container">					
			<div id="content" class="row main-content-wrapper-flux content">

	<!-- START: Side Nav Menu -->

	<div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-span">
	<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
		<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
		
		<div class="navbar-collapse sidebar-nav">
			<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
				<li class="nav-header hidden-md" role="menuitem"></li>
				
				<li class="active" role="menuitem"><a href="#">
					<div class="glyphicon-home glyphicon-large"></div>
						<span class="hidden-md" th:text="#{sidebar_my_home}"> My Home</span></a></li>
						
				<li role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="glyphicon-file"></div>
						<span class="hidden-md" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>

				<li role="menuitem"><a href="connectionMain.html"><div class="glyphicon-random"></div>
						<span class="hidden-md" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>

				<li role="menuitem"><a href="profile.html"><div class="glyphicon-user"></div>
						<span class="hidden-md" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>

				<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="glyphicon-inbox"></div>
						<span class="hidden-md" th:text="#{sidebar_in_box}"> Message Center</span></a></li>

				<li role="menuitem"><a href="activityHistory.html"><div class="glyphicon-time"></div>
						<span class="hidden-md" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>

				<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="glyphicon-folder-open"></div>
						<span class="hidden-md" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
				
				<li class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="glyphicon-unlock-alt"></div>
						<span class="hidden-md" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
				<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}"><div class="glyphicon-off"></div>
						<span class="hidden-md" th:text="#{sidebar_logout}"> Logout</span></a></li>
			</ul>
		</div>
		
	<!-- END OF SECTION REPLACED BY THYMELEAF -->
	</div>

	<!-- END: Side Nav Menu -->
	
	
	<!-- JavaScrip Enable Message -->		
	<noscript th:substituteby="fragment/common :: noscriptFragment">
		<div class="alert alert-warning col-md-10 col-sm-9">
			<p id="h4-style" class="alert-heading">Warning!</p>
			<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
			target="_blank">JavaScript</a>enabled to use this site.</p>
		</div>
	</noscript>
				
	<!-- START: Content Region-->
	
	<div id="page-subcontent-holder" role="main" class="col-md-10 col-sm-9">			
			<div class="row">			

		<!-- COMPONENT: Healthcare Providers -->

			<div id="tour-trigger-area">
			<section class="top-margin10">
                   
                        <fieldset class="row">
                            <legend>Activity History<span class="btn-right-align"></span>
                           </legend>
                                                   
                            <div class="form-group top-margin10">
                                <table class="table table-striped table-bordered">

                                    <tbody>
                                   <tr >
				                   		 <td><b>Date</b></td>
				                   		 <td><b>Action</b></td>
				                   		 <td><b>Type</b></td>
				                   		 <td><b>Changed by</b></td>
				                
								</tr>
			                   	 <tr th:each="history : ${historys}">
			                   		 <td	th:text="${history.timestamp}">date</td>
			                   		 <td	th:text="${history.recType}">Action</td>
			                   		 <td	th:text="${history.type}">Type</td>
			              		     <td  th:text="${history.changedBy}">changeby </td> 

                                  </tr>    
                              		</tbody>
                                </table>
                            </div>
                        </fieldset>                    
                </section>
                
			</div>


		<!-- COMPONENT: Connections -->				
		
							
			</div>
		</div><!--/#content.col-md-10-->
	</div><!--/fluid-row-->
	<!-- END: Content Region -->



	<!-- ELEMENT: Divider -->

		
	<!-- START: Footer Region -->		
	
	
	<!-- END: Footer Region -->

		</div> 	
	

	<div class="clearfix"></div>


		
		<!-- START: Footer Region -->
		<footer class="bottom" th:substituteby="fragment/common :: indexFooterFragment3">				
				<!-- COMPONENT: Copyright Information -->
				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>

		</footer>
		<!-- END: Footer Region -->
		
	</div>

	<!-- START: JavaScript-->

		<script src="../../../resources/js/jquery.toggle.buttons.js"
				th:src="@{/resources/js/jquery.toggle.buttons.js}" 
				type="text/javascript"></script>
		<script src="../../../resources/js/bootstrap-datepicker.js"
				th:src="@{/resources/js/bootstrap-datepicker.js}" 
				type="text/javascript"></script>
		<script src="../../../resources/js/jquery.cookie.js" 
				th:src="@{/resources/js/jquery.cookie.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/modernizr.mq.js" 
				th:src="@{/resources/js/modernizr.mq.js}"
				type="text/javascript"></script>
		
		<script src="../../../resources/js/formatParser.js" 
				th:src="@{/resources/js/formatParser.js}"
				type="text/javascript"></script>
		
	<!-- END: JavaScript-->
	
</body>
</html>