<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment/common :: headerFragment">

<meta charset="utf-8" />
<!-- title needs to be dynamic -->
<title>Consent2Share</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />
<!-- END: Meta -->
<!-- START: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../../resources/css/bootstrap.css" rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-toggle-buttons.css" rel="stylesheet"/>
	<link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<link href="../../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/c2s-core-style.css" rel="stylesheet"/>	
	<!-- END: CSS -->
</head>	

<head>
    <!-- START: Meta -->
    <meta charset="utf-8"/>

    <title>Search a Provider | MySentinel</title>
    <meta name="description" content="Consent Management System"/>
    <meta name="author" content="FEiSystems"/><!-- END: Meta -->
    <!-- START: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/><!-- END: Mobile Specific -->    
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- START: Favicon -->
    <!--    <link rel="shortcut icon" href="img/favicon.ico"> -->
    <!-- END: Favicon -->
</head>

<body id="connectionProviderAdd-page">
	
  <span th:each="npi:${npiList}">
	<input type="hidden" class="npi-list-input form-control" th:id="'npiList-NPI' + ${npi}" th:value="${npi}" id="npiList-NPInone" value="" />
  </span>

  <div class="container outmost-holder">
  
  <a href="#state_name" class="offscreen">skip to select a state</a>

    <!-- START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='Search a Provider',currentPageURI='/patients/connectionProviderAdd.html',backPageURI='/patients/connectionMain.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/patient_fragments :: navbarHeaderFragmentBackAndLang">
			
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
			<!-- The code below is here only to enhance source code readability -->
					<a id="bread-crumb-btn" href="connectionMain.html" class="btn btn-info breadcrumb-btn" >
						<span class="fa fa-chevron-left"></span>
					</a>
					
					<a class="btn btn-info btn-mainmenu" data-toggle="collapse"
						data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-bars"></span>
					</a>
					<h1>
						<span class="nav-title">Search a Provider</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" alt="user home page"/></a>
							<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>
					
					<!-- COMPONENT: Language Menu Dropdown -->
					<div th:include="fragment/myaccount_menu :: languageFragment" class="btn-group btn-right-align">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="fa fa-flag"></span>
							<span class="hidden-sm hidden-md"> Language</span>
							<span class="caret"></span>
						</a>
						
						<ul class="dropdown-menu" role="menu">
							<li role="menuitem"><a th:href="@{'/consents/addConsent.html?lang=en'}">English</a></li>
							<li role="menuitem"><a th:href="@{'/consents/addConsent.html?lang=cn'}">Chinese</a></li>
						</ul>
					</div>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
		</div>
	</header>
    <div id="under-header"></div>
    <!-- END : Page Header -->
	<div class="container">
        <div id="content" class="row main-content-wrapper-flux content">
        
        
	<!-- START: Side Nav Menu -->

		<div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-span">
		<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
			<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
			
			<div class="navbar-collapse sidebar-nav">
				<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
					<li class="nav-header hidden-tablet" role="menuitem"></li>
					
					<li class="active" role="menuitem"><a href="../home.html">
						<div class="glyphicon-home glyphicon-large"></div>
							<span class="hidden-tablet" th:text="#{sidebar_my_home}"> My Home</span></a></li>
							
					<li role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="glyphicon-file"></div>
							<span class="hidden-tablet" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>
	
					<li role="menuitem"><a href="connectionMain.html"><div class="glyphicon-random"></div>
							<span class="hidden-tablet" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>
	
					<li role="menuitem"><a href="profile.html"><div class="glyphicon-user"></div>
							<span class="hidden-tablet" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>
	
					<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="glyphicon-inbox"></div>
							<span class="hidden-tablet" th:text="#{sidebar_in_box}"> Message Center</span></a></li>
	
	
					<li role="menuitem"><a href="activityHistory.html"><div class="glyphicon-time"></div>
							<span class="hidden-tablet" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>
	
					<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="glyphicon-folder-open"></div>
							<span class="hidden-tablet" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
					
					<li class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="glyphicon-unlock-alt"></div>
							<span class="hidden-tablet" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
					<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}"><div class="glyphicon-off"></div>
							<span class="hidden-tablet" th:text="#{sidebar_logout}"> Logout</span></a></li>
				</ul>
			</div>
			
		<!-- END OF SECTION REPLACED BY THYMELEAF -->
		</div>

	<!-- END: Side Nav Menu -->
                       
           <!-- JavaScrip Enable Message -->
			<noscript th:substituteby="fragment/common :: noscriptFragment">
				<div class="alert alert-warning col-md-10 col-sm-9">
					<p id="h4-style" class="alert-heading">Warning!</p>
					<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
					target="_blank">JavaScript</a>enabled to use this site.</p>
				</div>
			</noscript>
          
          <!-- !START: Content Region-->

            <div id="page-subcontent-holder" role="main" class="col-md-10 col-sm-9">
                <div class="row">
                    <!-- !SECTION: Provider Lookup -->
                    <div>
                        <section class="top-margin10">
					<!-- !Search Fieldsets -->
			                <fieldset>
			                    <legend style="margin-bottom: 10px;">Search a Provider</legend>
			                 </fieldset>
			            </section>
			            <section class="col-md-9 col-sm-10">
			                 <fieldset> 
				                    <div class="required-info-group">
									<div class="form-group top-margin10">					
					                    <div class="panel-group" id="accordion2">
						                    <div class="panel panel-default" >
							                    <div class="panel-heading" >
  									                <div class="panel-title accordion-header-style" >    
									                	<span id="expand1">Search by: Provider location</span>
													</div>
												</div>						            	 
												<div id="collapseOne" class="panel-collapse">
													
												      <div class="panel-body"> 
												        <div>
													        <div class="alert alert-warning">
													         	<span>Enter Provider State AND City, OR Provider Zip Code</span>
														    </div>
													        <section>
																<div class="row" >															
																	<div class="username-container col-sm-8 col-xs-12">
											                            <div class="form-group">
												                            <label for="state_name">State</label> 
																			<select id="state_name"  class="form-control">
																				<option selected="selected" value="">Please Select</option>
																				<option th:each="addressState : ${stateCodes}" th:value="${addressState.code}" th:text="${addressState.displayName}">Alabama</option>
																			</select>
																			<span id="state_client_error_text" class="error-text required-text" style="display: none;">Please select a valid state.</span>
																			<span id="state_state_city_zip_client_error_text" class="error-text required-text" style="display: none;">Please select a state AND a city, OR select a zip code.</span>
												                        </div>
												                        <div class="form-group">
												                            <label for="city_name">City</label>
												                            <input id="city_name" name="cityname" type="text" class="form-control" /> 
																			<span id="city_client_error_text" class="error-text required-text"
																				style="display: none;">Please provide a valid city that is at least 2 characters long.</span>
																			<span id="city_state_city_zip_client_error_text" class="error-text required-text"
																				style="display: none;">Please select a state AND a city, OR select a zip code.</span>
											                       		</div>				                            
																	</div>
																</div>
															</section>
															<section>
																<div class="row">	
																	<p style="font-weight: 600; color: #428bca; margin: 5px 0 8px 20px;">OR</p>
																	<div class="form-group col-sm-7">
																		<label for="zip_code">Zip Code</label>
																		<input id="zip_code" name="zipcode" type="text" class="form-control"/>
																		<span id="zip_client_error_text" class="error-text required-text" style="display: none;">Please provide a valid zip code.</span>
																		<span id="zip_state_city_zip_client_error_text" class="error-text required-text" style="display: none;">Please select a state AND a city, OR select a zip code.</span>
										                       		</div>
										                       </div>
										                       <button id="btn_provSearchClearLocation" type="button" class="btn btn-default " style="margin: 10px 10px 0 0;">Clear</button>										                       
															</section>												     	
													     </div>
												     </div>
												</div>
							                    
					                        </div>    
						                    <div class="panel panel-default" >
							                    <div class="panel-heading">
									                <div class="panel-title accordion-header-style">
									                	<span id="expand2">Search by: Provider name and other criteria</span>
									               </div>
								               </div>

								                    <div id="collapseTwo" class="panel-collapse">
												      <div class="panel-body">
												        <div>
													        <div class="alert alert-warning">
													         	<span>Enter Facility Name OR Last Name, AND/OR First Name, Gender, and/or Phone Number</span>
														    </div>
					        				                <section class="">
					        				                	<div id="org_prov_search_group" class="row username-container" style="display: block;">
					        				                		<div class="form-group">
																		<label for="facility_name">Facility Name</label>
										                            	<input id="facility_name" name="facilityname" type="text" class="form-control"/>
																		<span id="facilityname_client_error_text" class="error-text required-text" style="display: none;">Please provide a valid facility name that is at least 2 characters long.</span>
																		<span id="facilityname_facility_lname_client_error_text" class="error-text required-text" style="display: none;">Please input either a facility name or a last name.</span>
									                            	</div>
									                            </div>
									                            
					        				                	<p>
					        				                		<span style="font-weight: 600; color: #428bca; margin: 5px 0 8px 20px;">OR</span>
					        				                	</p>
					        				                
																<div id="indv_prov_search_group" class="row username-container" style="display: block;">
																	<div class="form-group">
																		<label for="last_name">Last Name</label>
										                            	<input id="last_name" name="lastname" type="text" class="form-control"/>
																		<span id="lname_client_error_text" class="error-text required-text" style="display: none;">Please provide a valid last name that is at least 2 characters long.</span>
																		<span id="lname_facility_lname_client_error_text" class="error-text required-text" style="display: none;">Please input either a facility name or a last name.</span>
									                            	</div>
									                                   		
																	<div class="form-group">
																		<label for="first_name">First Name <span style="font-size: small; color: #8a8a8a;"><em>(optional)</em></span></label>
										                            	<input id="first_name" name="firstname" type="text" class="form-control"/>       		
																		<span id="fname_client_error_text" class="error-text required-text" style="display: none;">Please provide a valid first name that is at least 2 characters long.</span>
																	</div>
																
																	<div class="row form-group">
																		<div class="col-sm-8 side-padding0">
																			<label for="gender">Gender <span style="font-size: small; color: #8a8a8a;"><em>(optional)</em></span></label>
																			<select id="gender" class="form-control">
																				<option selected="selected" value="">Please Select</option>
																				<option th:each="gender : ${administrativeGenderCodes}" th:value="${gender.code}"
																					th:text="${gender.displayName}">F</option>
																			</select>
																			<span id="gender_client_error_text" class="error-text required-text" style="display: none;">Invalid gender selected.</span>
																		</div>
																	</div>
																</div>
																
																<div class="row form-group">
																	<label for="phone">Phone <span style="font-size: small; color: #8a8a8a;"><em>(optional)</em></span></label>
										  							<div class="form-group">
										  								<input style="width:4em" maxlength="3" id="phone1" name="phone" type="text" class="form-control force-inline"/>
										                            	<input style="width:4em" maxlength="3" id="phone2" size="3" name="phone" type="text" class="form-control force-inline"/>
										                            	<input style="width:5em" maxlength="4" id="phone3" size="4" name="phone" type="text" class="form-control force-inline"/>       		
																	</div>
																	<span id="phone_client_error_text" class="error-text required-text" style="display: none;">Please provide a valid phone number.</span>
									                       		</div>
									                       </section>
									                       <button id="btn_provSearchClearNameAndOthers" type="button" class="btn btn-default" style="margin: 10px 10px 0 0;">Clear</button>		
								                       </div>
												      </div>
												    </div>
							                    
						                    </div> 
										</div>
									</div>
									</div>
							</fieldset>                     
					<!-- !Search Results  -->		                        
		                    <fieldset>
		                    	<div class="control-group">
                                        <div class="controls">
                                            <button type="button" class="btn btn-default" style="margin: 0 10px 0 0;" onclick="clearAll()">Clear All</button>
                                            <button id="searchButton" data-toggle="modal"
                                            		type="button" 
                                            		class="btn btn-primary" 
                                            		onClick='if(validProviderSearchForm()) lookup();'>Search</button> <!-- href="#provider_search_modal"  -->
                                            <div id="testdiv"></div>
											<span id="empty_client_error_text" class="error-text required-text" style="display: none;">Please input all required search criteria.</span>

                                        </div>
                           		</div>
                           		
                           	<!-- Provider search session expired Modal Start-->
							<div class="modal fade" id="consent_session_expired_modal" tabindex="-1" role="dialog" aria-labelledby="consentValidationLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
							        <h4 class="modal-title" id="consentValidationLabel">Please review results below.</h4>
							      </div>
							      <div class="modal-body">
								      	<div id="consent_validation_error_holder" class="alert alert-danger">
									      	<h4 id="consent_validation_error_header">Whoops!</h4>
									      	<p id="consent_validation_error_text">The page has expired! Please try login again!</p>
								      	</div>
								  </div>
								  <div class="modal-footer">
									 <a href="#" class="btn btn-primary redirectToLogin">Re-login</a>
								  </div>
								 </div>
							  </div>
							 </div>
							<!-- Provider search session expired Modal End-->
<!-- Provider Search modal -->                        		
                           		<div id="provider_search_modal" class="modal fade">
                           			<div class="modal-dialog">
						      			<div class="modal-content">
						        			<div class="modal-header">
						          				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          				<h4 class="modal-title">Provider Search Results</h4>
						        			</div>
						        			
						        			<div class="modal-body">
                                            	<div id="Pagination" class="pagination" style="display: none;"> </div> 

						                        <div class="control-group">
												<!-- Results -->	
						                        <div class="controls col-sm-11">
						                        	<p id="noResult" style="display: none;">Sorry, no results found.</p>
						                        	<p id="noResponse" style="display: none;">Sorry, no response received from provider web service. Please try again.</p>
						                            <div id="resultList" hidden="true">
						                            		<dt>Search Results</dt>
						                            </div>
						                        </div>
						                        <!-- Buttons -->	
						                        <div class="search-loading hide"></div>
						                        </div>
		                        			</div>
		                        		</div>
		                        	</div>
								</div>
<!-- end of Provider Search modal -->
		                        
		                        <div class="clearfix"></div>
			                    		
		                    </fieldset>
                        </section>
                    </div><!-- end box col-md-9 -->
                </div><!-- end row -->
            </div><!-- end col-md-10-->
        </div><!-- end content row -->
        </div><!-- END: Content Region -->
  
        <!-- START: Footer Region -->
		<footer class="bottom" th:substituteby="fragment/common :: indexFooterFragment3">
			<!-- COMPONENT: Copyright Information -->
			<p class="top-margin10 pull-left">
				&copy; <a class="footer-link" href="" target="_blank">A SAMHSA
					Public Service</a> 2013
			</p>
		</footer>
		<!-- END: Footer Region -->
	
	</div><!-- end container -->


    <!-- START: JavaScript-->
    <script src="../../../resources/js/jquery.autotab-1.1b.js"
			th:src="@{/resources/js/jquery.autotab-1.1b.js}" 
			type="text/javascript"></script>
	
	<!-- Custom JS Script -->
	<script src="../../resources/js/formatParser.js"
			th:src="@{/resources/js/formatParser.js}" 
			type="text/javascript"></script>
	<script src="../../../resources/js/validatorFunctions.js"
			th:src="@{/resources/js/validatorFunctions.js}"
			type="text/javascript"></script>
	<script src="../../../resources/js/webpage-js/userAccountInfoValidation.js" 
			th:src="@{/resources/js/webpage-js/userAccountInfoValidation.js}"
			type="text/javascript"></script>
	<script src="../../resources/js/webpage-js/providerSearchCriteriaValidation.js"
			th:src="@{/resources/js/webpage-js/providerSearchCriteriaValidation.js}" 
			type="text/javascript"></script>
	<script src="../../resources/js/webpage-js/providerSearch.js"
			th:src="@{/resources/js/webpage-js/providerSearch.js}" 
			type="text/javascript"></script>
	
	<script src="../../resources/js/webpage-js/connectionProviderAdd.js"
			th:src="@{/resources/js/webpage-js/connectionProviderAdd.js}" 
			type="text/javascript"></script>
</body>
</html>
