<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment/common :: headerFragment" > 
	<meta charset="utf-8" />
	<!-- title needs to be dynamic -->
	<title>Consent2Share</title>
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<!-- END: Meta -->
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	<!-- START: CSS -->
	<link id="bootstrap-style" href="../../../resources/css/bootstrap.css"
		rel="stylesheet"/>
	<link href="../../../resources/css/bootstrap-toggle-buttons.css"
		rel="stylesheet"/>
	<link href="../../../resources/css/joyride-2.0.3.css" rel="stylesheet" />
	<link href="../../../resources/css/themes-style.css" rel="stylesheet"/>
	<link href="../../../resources/css/c2s-core-style.css" rel="stylesheet"/>
	
	<link href="../../../resources/css/skipNav.css" rel="stylesheet"/>
	<!-- END: CSS -->
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<!-- START: Favicon -->
	<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
	<!-- END: Favicon -->
</head>
<body id="myhome-page" class="home-page-body">

<!--Skip nav link-->

<div class="container outmost-holder">

<a href="#whatIsC2S" class="offscreen">skip to first about link</a>

	<!-- !START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='My Home',currentPageURI='/patients/home.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/patient_fragments :: navbarHeaderFragment">
			
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
			<!-- The code below is here only to enhance source code readability -->
			
					<a th:include="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-bars"></span>
					</a>
					<h1>
						<span class="nav-title">My Home</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" alt="user home page"/></a>
							<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>
					
					<!-- COMPONENT: Language Menu Dropdown -->
					<div th:include="fragment/myaccount_menu :: languageFragment" class="btn-group btn-right-align">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="fa fa-flag"></span>
							<span class="hidden-sm hidden-md"> Language</span>
							<span class="caret"></span>
						</a>
						
						<ul class="dropdown-menu" role="menu">
							<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=en'}">English</a></li>
							<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=cn'}">Chinese</a></li>
						</ul>
					</div>

					<!-- COMPONENT: Header Menu-->

					<div th:include="fragment/myaccount_menu :: myaccountMenuFragment"
						class="btn-group pull-right">

						<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
							class="hidden-sm hidden-md"> Message Center</span> <span
							class="label label-warning hidden-sm">3</span>
						</a>

						<!-- COMPONENT: User Dropdown -->

						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user">&nbsp;</span><span
							class="hidden-sm hidden-md" th:text="#{header_my_account}">
								My Account</span> <span class="caret"></span>
						</a>

						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_my_profile}">My Profile</a></li>
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_change_password}">Change Password</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="../index.html"
								th:href="@{/resources/j_spring_security_logout}"
								th:text="#{header_logout}">Logout</a></li>
						</ul>
					</div>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
			
			
			<div id="event_notification_bar" th:switch="${notifyevent}">
				<span th:case="'passChangeSuccess'">
					<div class="alert alert-success rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			You have successfully changed your password!
					</div>
				</span>
			</div>

			
			<div id="notification_bar" class="notification-bar" th:switch="${notification}">
				<span th:case="'notification_add_provider'">
					<div class="alert alert-info rounded">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    			<strong>Welcome <span th:object="${currentUser}" th:text="*{firstName + ' ' + lastName}"></span> to Consent2Share!</strong> To create and manage your consents, you must add at least two providers. Please go to <a href="connectionMain.html"><strong>My Providers</strong></a> to begin this process.
					</div>
				</span>
				
				<span th:case="'notification_add_second_provider'">
						<div class="alert alert-info rounded">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
	  		    			Before you can create consents, you need to add a second provider. Please go to <a href="../patients/connectionMain.html"><strong>My Providers</strong></a> to begin this process.
						</div>
				</span>
				
				<span th:case="'notification_add_consent'">
					<div class="alert alert-success rounded">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
  		    		To create your consent, go to <a href="../consents/listConsents.html"><strong>My Consents</strong></a> to add a new consent.
					</div>
				</span>
				<span th:case="'notification_review_sign_consent'">
					<div class="alert alert-success rounded">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
	  		    	You have an unsigned consent.  Please go to <a href="../consents/listConsents.html"><strong>My Consents</strong></a> to review and sign your consent.
				    </div>
				</span>
			    
 					<span th:case="'notification_sign_consent'">
				    <div class="alert alert-info rounded">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							You have an unsigned consent. To sign your consent, Please go to <a href="../consents/listConsents.html"><strong>My Consents</strong></a> to review and sign your consent.
					</div>
					</span>
			</div>
				
		</div>
		</header>
		<div id="under-header"></div>

		<!-- END : Page Header -->
	<div id="home-page" class="container">

		<div class="row main-content-wrapper-flux">
			<div class="top-margin10">
				<!-- !START: Patient Information -->
				<div id="section-header" class="patient-info-section" th:object="${currentUser}">
					<div>
						<img class="dashboard-avatar" alt="User Profile Picture" title="User Profile Picture" src="../../../resources/img/avatar.gif"
						th:src="@{/resources/img/avatar.gif}"/>
					</div>
					<div class="person" th:text="*{firstName + ' ' + lastName}">John Doe</div>
					<div class="gender" th:text="*{genderDisplayName}">Male</div>
					<div class="birth-date" th:text="*{birthDate==null}?  '' : *{#dates.format(birthDate, 'MM/dd/yyyy')}">10/20/1980</div>
					<span class="divider"></span>
				</div>
			</div>

			<!-- END: Patient Information -->

			<div id="content" class="content">
				<!-- START: Side Nav Menu -->

				<div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-span">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->
					
					<div id="sidenavMenu" class="navbar-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-md" role="menuitem"></li>
							
							<li class="active" role="menuitem"><a href="#">
								<div class="glyphicon-home glyphicon-large"></div>
									<span class= "hidden-md" th:text="#{sidebar_my_home}"> My Home</span></a></li>
									
							<li role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="glyphicon-file"></div>
									<span class="hidden-md" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>
			
							<li role="menuitem"><a href="connectionMain.html"><div class="glyphicon-random"></div>
									<span class="hidden-md" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>
			
							<li role="menuitem"><a href="profile.html"><div class="glyphicon-user"></div>
									<span class="hidden-md" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>
			
							<li role="menuitem"><a href="../inbox/inboxMain.html" th:href="@{/inbox/inboxMain.html}"><div class="glyphicon-inbox"></div>
									<span class="hidden-md" th:text="#{sidebar_in_box}"> Message Center</span></a></li>
			
			
							<li role="menuitem"><a href="activityHistory.html"><div class="glyphicon-time"></div>
									<span class="hidden-md" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>
			
							<li role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="glyphicon-folder-open"></div>
									<span class="hidden-md" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="glyphicon-unlock-alt"></div>
									<span class="hidden-md" th:text="#{sidebar_change_password}"> Change Password</span></a></li>
							
							<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}"><div class="glyphicon-off"></div>
									<span class="hidden-md" th:text="#{sidebar_logout}"> Logout</span></a></li>
						</ul>
					</div>
					
				<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>

				<!-- END: Side Nav Menu -->


				<!-- JavaScrip Enable Message -->
				<noscript th:substituteby="fragment/common :: noscriptFragment">
					<div class="alert alert-warning col-md-10 col-sm-9">
						<p id="h4-style" class="alert-heading">Warning!</p>
						<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
						target="_blank">JavaScript</a>enabled to use this site.</p>
					</div>
				</noscript>

				<!-- START: Content Region-->

				<div id="page-subcontent-holder" class="col-sm-9 col-md-10">
					<div class="row">

					<!-- GRID: Start Notifications -->
						<div class="box">
							<div class="box-header">
								<h2>
									<span class="fa fa-inbox"></span><span class="break"></span>Notifications
								</h2>
							</div>
							<div class="box-content">
								<table class="table table-striped table-hover">
									  <thead>
										  <tr>
											  <th></th>
											  <th>Message</th>
											  <th>Created</th>										                                            
										  </tr>
									  </thead>   
									  <tbody>
	<!-- 									<tr> -->
	<!-- 										<td class="center"> <span class="fa fa-bell-o"></span></td> -->
	<!-- 										<td>Your consent has been revoked.</td> -->
	<!-- 										<td class="center">2012/01/01</td>										                                      -->
	<!-- 									</tr> -->
	<!-- 									<tr> -->
	<!-- 										<td class="center"><span class="fa fa-flag"></span></td> -->
	<!-- 										<td>Your consent is ready to be signed.</td> -->
	<!-- 										<td class="center">2012/01/01</td>									                                    -->
	<!-- 									</tr> -->
										   <tr th:each="systemNotificationDto : ${systemNotificationDtos}">
										        <td th:switch="${systemNotificationDto.notificationType}"> 
										        <span th:case="'consent_needs_signing'"> <span class="fa fa-flag" style="color: #038CD2;"></span></span>
									        	<span th:case="'consent_revoke_needs_signing'"> <span class="fa fa-flag" style="color: #038CD2;"></span></span>
										        <span th:case="*"> <span class="fa fa-check" style="color: #468847;"></span></span>
										        </td>
									      		<td	th:text="${systemNotificationDto.notificationMessage}">notificationMessage</td>
									      		<td class="center" th:text="${systemNotificationDto.sendDate==null}? '' : *{#dates.format((systemNotificationDto.sendDate), 'MM/dd/yyyy')}">01/01/2012</td>
									      </tr>															   
									  </tbody>
								 </table>  
							</div>
						</div>
					<!-- GRID: End Notifications -->
					
					<!-- COMPONENT: Notifications -->
				<!--	<div class="box">
							<div class="box-header">
								<h2>
									<span class="glyphicon glyphicon-inbox"></span><span class="break"></span>Notifications
								</h2>
								<div class="box-icon"></div>
							</div>
							<div class="box-content">
								<ul class="dashboard-list">
									<li><a href="#">
											<div class="fa fa-envelope" style="margin-right: 12px;"></div><span class="fa fa-paperclip" style="width: 18px; margin-right: 1px;"></span>
											mastercareinc@consent2share.com
										</a> 
										<span style="font-size: small; font-weight: bold; color: #3e3e3e;"><span style="margin: 0 15px;">Subject: Please review</span><span>Fri 7/26/2013 1:12 PM</span>
										<div style="margin-left: 30px; font-weight: normal;"><em>Dear Albert Smith, Please review your medical information and sign when ready.</em></div></span></li>
									<li><a href="#">
											<div class="fa fa-envelope" style="margin-right: 12px;"></div>
											michaelgrimes@consent2share.com
										</a> 
										<span style="font-size: small; font-weight: bold; color: #3e3e3e;"><span style="margin: 0 15px;">Subject: Please review</span><span>Fri 7/21/2013 4:37 PM</span>
										<div style="margin-left: 30px; font-weight: normal;"><em>Dear Albert Smith, Please review your medical information and sign when ready.</em></div></span></li>
									<li><a href="#">
											<div class="fa fa-flag-o" style="margin-right: 12px;"></div>
											Consent2Share
										</a> 
										<span style="font-size: small; color: #3e3e3e; font-weight: bold;"><span style="margin: 0 15px;">Subject: Welcome!</span><span>Fri 7/10/2013 10:01 AM</span>
										<div style="margin-left: 30px; font-weight: normal;"><em>Welcome Albert Smith! Log in to begin using your Consent2Share.</em></div></span></li>
								</ul>
							</div>
						</div> -->

			<!-- COMPONENT: Education -->				
		
			<div>
				<div class="box">
					<div class="box-header">
						<h2>
							<span>
								<span class="fa fa-bookmark"></span><span class="break"></span>
							</span>
							Learn about Privacy and Consent
						</h2>
					</div>
						<div class="box-content">
							<ul class="dashboard-list">
								<li id="whatIsC2S">
									<a href="#" data-toggle="modal" data-target="#what-is-consent-technology">
										<div class="fa fa-info-circle" style="margin-right: 10px;"></div>                 
										What is consent 2 share technology?                                   
									</a>
								</li>
								<li>
									<a href="#" data-toggle="modal" data-target="#what-is-a-consent-video">
										<div class="fa fa-film" style="margin-right: 10px;"></div>                 
										View a video about consent 2 share technology.                                   
									</a>
								</li>
						   		 <li>
									<a href="#" data-toggle="modal" data-target="#why-is-privacy-important">
										<div class="fa fa-film" style="margin-right: 12px;"></div>                               
										Why is my health privacy important?                                    
									</a>
								</li>
								<li>
									<a href="#" data-toggle="modal" data-target="#how-to-create-consent">
										<div class="fa fa-info-circle" style="margin-right: 12px;"></div>                               
										How do I create a consent?                                    
									</a>
								</li>
								<li>
									<a href="#" data-toggle="modal" data-target="#demographic-information">
										<div class="fa fa-info-circle" style="margin-right: 12px;"></div>                               
										Why do you need to know my demographic information?                                    
									</a>
								</li>
							</ul>
						</div>
					</div>		
			</div>	
							
			<!-- Modal 1 -->
				<div id="what-is-consent-technology" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="What is consent 2 share technology?" aria-hidden="true">
					<div class="modal-dialog">
					   <div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 id="myModalLabel" class="modal-title">What is Consent 2 Share technology?</h4>
						  </div>
						  <div class="modal-body">
						    <p>
						    	<!-- <div id="player"></div>
							    <div>
								    <strong>Media Type:</strong> <span class="label label-info">Video</span><br/>
								    <strong>Length:</strong> 4:00 min <br/>
								    <strong>Summary:</strong> At the conclusion of this video, viewers will understand how technology enables electronic care coordination using a fictitious patient's health privacy preferences and ultimately their health records between care providers.  
							    </div> -->
							    Consent 2 Share (C2S) is a system that gives you the option to share all or part of your health record with your doctors.  
							    Your doctor or provider can access your health information and make better decisions on how to treat your medical condition. 
							    
						    </p>
						    <p>With this revolutionary technology, C2S can help you:
								<ul class="disc">
									<li>Define which providers you want to share your medical records with.</li> 
									<li>Define your privacy policy and sign an electronic consent.</li> 
									<li>Try your privacy policy against your actual health record, showing you what information you agree to share or do not want to share.</li> 
									<li>Receive and send messages to your doctor.</li> 
									<li>Delegate management of your privacy and consent to a caregiver.</li> 
						    	</ul>
						    </p>
						    
						  </div>
						  <div class="modal-footer">
						    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
						  </div>
					  </div>
					</div>
				</div>
			<!-- End Modal 1 -->
			
			<!-- Modal 2 -->
				<div id="what-is-a-consent-video" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="What is a Consent?" aria-hidden="true">
					<div class="modal-dialog">
					   <div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 id="myModalLabel" class="modal-title">"What is Consent 2 Share technology?"</h4>
						  </div>
						  <div class="modal-body">
						    <p>
						    	<div id="player"></div>
							    <div class="top-margin10">
								    <strong>Media Type:</strong> <span class="label label-info">Video</span><br/>
								    <strong>Length:</strong> 4:00 min <br/>
								    <strong>Summary:</strong> At the conclusion of this video, viewers will understand how technology enables electronic care coordination using a fictitious patient's health privacy preferences and ultimately their health records between care providers.
								   
								    <!-- Issue #473 fix start	 -->   
								    <div class="youtube_Transcript_button_one">
								    	<button class="btn btn-info">Transcript</button>
								    </div>
								    <div class="youtube_Transcript_one">
								   		 <div class="box-content">
											<p align="justify">
											One of the most significant problems that they played it intends to address is that like miss medical specialties behavior health providers 
											are often not the first provider the patients ease many patients receive substance abuse or mental health treatment are initially referred 
											from their primary care provider there is not currently streamline communication channel for primary care and the April health providers to 
											share information regarding the care for patient following story demonstrates how seamless the integration of physical and they have a whole 
											services can be and how the results using standardized data increase the ability to coordinate care it prevail comes and lower overall health 
											care costs mercenary begins with the patient coming into a primary care providers office complaining of stress and sleeplessness the primary 
											care provider performs an initial valuation of the new patient and collects information as they would free general checkup the physician 
											suspects that the patient may have an anxiety issue and decides to administer a paper health short screening questionnaire the questionnaire 
											determines if the patient should proceed with a comprehensive behavioral health assessment in this scenario discrete results are positive 
											origin referral  to behavioral health specialist to make the referral the engine provider to rectory is accessed via computer and allows the 
											physician and patient to work together to select abt ever health provider the system displays rolled and provider information such as distance 
											from the patient's home capacity needle is Asian rates and most importantly the providers performance and patient satisfaction ratings on the 
											screen and that is presented showing the provider locations the patient chooses a paper health specialist and the primary care provider prepares 
											an electronic consent document for the patient to sign with the patient's consent received the system is used to make a point that they have 
											recalled provider and the patient's care records are transferred as referral transaction from the primary care provider to behavioral health 
											providers computer system through an internet peripheral transaction date contains the pieces demographic information screening results and 
											payroll to billing information to dramatically streamlined the continuity of care with you for all pointed to deliver health provider schedule 
											the action our story shifts to the behavioral health providers facility through the availability of three for data administrative work around
											patient intake is greatly reduced and the providers already well informed to the patient's condition when the patient arrives debate over health 
											providers ready to perform a more thorough behavioral health assessment the cycle of care perceives his patient and during the next several 
											months to pay for health provider develops a treatment plan that addresses the scope of root causes of the anxiety disorder alcohol abuse is 
											identified as one of the root causes of this patient's anxiety disorder and the patient we see street services from the neighbor health provider 
											for alcohol abuse and anxiety district encounters proceed the patient records are maintained in the behavioral health provider system the final 
											demonstration of the power of integrating behavioral health providers into the occurs on the patient revisits the original primary-care 
											providers office for a follow up during the follow up the patient signs an electronic consent document giving the primary care provider access 
											to behave her health providers records that describe the treatments received diagnosis and discharge plant for the patient  because the patient 
											received treatment for alcohol abuse privacy roles unique to substance abuse treatment established and the code of federal regulations come into 
											play in this instance the electronic consent documents a tight compliant forty two party regulations the patient's records are electronically 
											imported into the primary care providers electronic health records system and the form of a continuity of care document the ccd informs primary 
											care provider on the patients treatment progress in this case the patient's physician was considering treating the patient anti-depressants but 
											now this information the physician avoids medications that are contradicted to history of substance abuse this active immigration of behavioral 
											health and primary care provides a close loop of coordinated care and helps avoid missy treatment information animations rework but too often 
											characterized seiler medical specialty stove pipes of care that exist today thank you for watching this presentation the reality of the stories 
											closer than you may think synapses he be project is creating a technology and the tremendous opportunity implement exists with the state 
											age you program please come back to visit her body dot the follow the development of electronic behavioral health records and hal state 
											efforts are shaping the behavioral health ita landscape.         
											</p>
										</div>
								    </div>
								    
								    <!-- issue #473 fix end --> 
							    </div>
						    </p>
						    
						  </div>
						  <div class="modal-footer">
						    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
						  </div>
					  </div>
					</div>
				</div>
			<!-- End Modal 2 -->
			
			<!-- Modal 3 -->
				<div id="why-is-privacy-important" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Why is my health privacy important?" aria-hidden="true">
					<div class="modal-dialog">
					   <div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 id="myModalLabel" class="modal-title">Why is my health privacy important?</h4>
						  </div>
						  <div class="modal-body">
						  <p>From the U.S. Department of Health and Human Services website (HHS.gov):</p>
						    <p>
						    	<div id="player2"></div>
							    <div class="top-margin10">
								    <strong>Media Type:</strong> <span class="label label-info">Video</span><br/>
								    <strong>Length:</strong> 2:12 min <br/>
								    <strong>Summary:</strong> Why is my health privacy important? <br/>
								    
								    <!-- Issue #473 fix start	 -->   
								    <div class="youtube_Transcript_button_two">
								    	<button class="btn btn-info">Transcript</button>
								    </div>
								    <div class="youtube_Transcript_two">
								   		 <div class="box-content">
											<p align="justify">
											Your health information, your rights. Whether your health information is stored on paper or electronically, you have 
											the right to keep it private. Those rights are protected under a law known as HIPAA, the Health Insurance Portability 
											and Accountability Act. HIPAA gives you important rights. 
											First off, you have the right to see or get a copy of your medical records. Sometimes you might not be able to see 
											certain parts of the full record, but you always have the right to ask. If you find a mistake in your record, you have 
											the right to request to have it corrected. If you disagree with your doctor or health plan about certain information in 
											your record, you have a right to submit a written statement of disagreement that will be kept with your record. You also
											have the right to know how your health information is used and shared.
											Now, your provider is allowed to share your information for certain reasons without asking you first, like when your doctors
											work together to determine how to best treat you when you're sick or to report the flu when it's in your area, but, in general, 
											your providers can't give information to an employer, for example, without your permission. And if you'd like to know who has 
											seen your health information, you have the right to get a report. That's called an "accounting of disclosures." HIPAA gives you 
											the right to say how you want to be contacted. For example, you can tell your provider what phone number they should call to 
											contact you and whether they can leave a message. HIPAA also gives you the right to request that your information not be shared 
											with certain people or organizations. 
											All these rights are spelled out in the Notice of Privacy Practices, which is usually given to you or posted at your doctor's 
											office or hospital. Be sure to read this notice carefully. It lets you know exactly how your information will be used and shared 
											and how your rights are being protected. And, lastly, if you think any of these rights have been violated, you have the right to 
											file a complaint. We're serious about working with you to protect your health information. 
											Know your rights. To get started, just visit the U.S. Department of Health and Human Services Office for Civil Rights at hhs.gov/ocr.
											</p>
										</div>
								    </div>
								    
								    <!-- issue #473 fix end --> 
							    </div>
						    </p>
						    
						  </div>
						  <div class="modal-footer">
						    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
						  </div>
					  </div>
					</div>
				</div>
			<!-- End Modal 3 -->
			
			<!-- Modal 4 -->
				<div id="how-to-create-consent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="How do I create a consent?" aria-hidden="true">
					<div class="modal-dialog">
					   <div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 id="myModalLabel" class="modal-title">How do I create a consent?</h4>
						  </div>
						  <div class="modal-body">
						    
						    <p>With this revolutionary technology, C2S can help you:
								<ul class="disc">
									<li>To create a consent, you will need to select at least two (2) doctors or providers who you want to share your health information with.</li>
									<li>Providers can be individual doctors, a health clinic or a hospital facility.</li>
									<li>You can search for providers by using our directory.</li>
									<li>Once your providers are selected, you can then decide what medical information about yourself they can share with each other.</li>
									<li>For additional instructions, please obtain a copy of the Client Tip Sheet from the Prince George's County Health Department, Behavioral Health Services Division.</li> 
						    	</ul>
						    </p>
						    
						  </div>
						  <div class="modal-footer">
						    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
						  </div>
					  </div>
					</div>
				</div>
			<!-- End Modal 4 -->
			
			<!-- Modal 5 -->
				<div id="demographic-information" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Why do you need to know my demographic information?" aria-hidden="true">
					<div class="modal-dialog">
					   <div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 id="myModalLabel" class="modal-title">Why do you need to know my demographic information?</h4>
						  </div>
						  <div class="modal-body">
						    
						    <p>About demographic information:
								<ul class="disc">
									<li>Your demographics help us to identify you</li>
									<li>Your combined demographics, such as address and telephone number, help us to uniquely identify you among other C2S users.</li> 
						    	</ul>
						    </p>
						    
						  </div>
						  <div class="modal-footer">
						    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
						  </div>
					  </div>
					</div>
				</div>
			<!-- End Modal 5 -->
			
			
			</div>
		</div><!--/#content.col-md-10-->
	</div><!--/fluid-row-->
<!-- END: Content Region -->
</div>
</div>
<!-- START: Footer Region -->
<footer class="bottom" th:substituteby="fragment/common :: indexFooterFragment3">

		<!-- COMPONENT: Copyright Information -->
		<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p>
</footer>
<!-- END: Footer Region -->
</div>	
	<script src="../../../resources/js/webpage-js/youtubePluginControl.js"
				th:src="@{/resources/js/webpage-js/youtubePluginControl.js}"
				type="text/javascript"></script>

</body>
</html>
