<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment/common :: headerFragment">
<meta charset="utf-8" />
<!-- title needs to be dynamic -->
<title>Consent2Share</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />
<!-- END: Meta -->
<!-- START: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END: Mobile Specific -->
<!-- START: CSS -->
<link id="bootstrap-style" href="../../../resources/css/bootstrap.css"
	rel="stylesheet" />
<link href="../../../resources/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="../../../resources/css/themes-style.css" rel="stylesheet" />
<link href="../../../resources/css/c2s-core-style.css" rel="stylesheet" />
<!-- END: CSS -->

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- START: Favicon -->
<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
<!-- END: Favicon -->

</head>

<body id="profile-page" class="patient-profile-page">

<div class="container outmost-holder">

<a href="#first_name" class="offscreen">skip to edit first name</a>

	<!-- START: Page Header -->
	<header class="navbar navbar-static-top" role="banner" th:with="currentPageTitle='My Profile',currentPageURI='/patients/profile.html'">
		<div class="container">
			<div class="navbar-header navbar-inner-header" role="navigation" th:substituteby="fragment/patient_fragments :: navbarHeaderFragmentNoLang">
			
			<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE navbarHeaderFragment -->
			<!-- The code below is here only to enhance source code readability -->
			
					<a class="btn btn-info btn-mainmenu" data-toggle="collapse"
						data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
						<span class="fa fa-bars"></span>
					</a>
					<h1>
						<span class="nav-title">My Profile</span>
					</h1>

					<span th:include="fragment/common :: logoFragment">
						<div style="position: relative;">
							<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" alt="user home page" /></a>
							<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
						</div>
					</span>

					<!-- COMPONENT: Header Menu-->

					<div th:include="fragment/myaccount_menu :: myaccountMenuFragment"
						class="btn-group pull-right">

						<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
							class="hidden-sm hidden-md"> Message Center</span> <span
							class="label label-warning hidden-sm">3</span>
						</a>

						<!-- COMPONENT: User Dropdown -->

						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user">&nbsp;</span><span
							class="hidden-sm hidden-md" th:text="#{header_my_account}">
								My Account</span> <span class="caret"></span>
						</a>

						<ul role="menu" class="dropdown-menu">
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_my_profile}">My Profile</a></li>
							<li role="menuitem"><a href="profile.html"
								th:href="@{/patients/profile.html}"
								th:text="#{header_change_password}">Change Password</a></li>
							<li role="menuitem" aria-disabled="true" class="divider"></li>
							<li role="menuitem"><a href="../index.html"
								th:href="@{/resources/j_spring_security_logout}"
								th:text="#{header_logout}">Logout</a></li>
						</ul>
					</div>
			<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
		</div>
	</header>
	<div id="under-header"></div>
	<div class="container">
		<div class="row main-content-wrapper-flux">
			<div id="content" class="content">

				<!-- START: Side Nav Menu -->

				<div th:substituteby="fragment/patient_fragments :: sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-span">
					<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE sideNavMenuFragment -->
					<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->

					<div class="nav-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
							<li class="nav-header hidden-md" role="menuitem"></li>

							<li class="active" role="menuitem"><a href="#">
									<div class="glyphicon glyphicon-home glyphicon-large"></div> <span
									class="hidden-md" th:text="#{sidebar_my_home}"> My
										Home</span>
							</a></li>

							<li role="menuitem"><a href="../consents/listConsents.html"
								th:href="@{/consents/listConsents.html}"><div
										class="glyphicon glyphicon-file"></div> <span class="hidden-md"
									th:text="#{sidebar_my_consents}"> My Consents</span></a></li>

							<li role="menuitem"><a href="connectionMain.html"><div
										class="glyphicon glyphicon-random"></div> <span class="hidden-md"
									th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>

							<li role="menuitem"><a href="profile.html"><div
										class="glyphicon glyphicon-user"></div> <span class="hidden-md"
									th:text="#{sidebar_my_profile}"> My Profile</span></a></li>

							<li role="menuitem"><a href="../inbox/inboxMain.html"
								th:href="@{/inbox/inboxMain.html}"><div class="glyphicon glyphicon-inbox"></div>
									<span class="hidden-md" th:text="#{sidebar_in_box}">
										Message Center</span></a></li>


							<li role="menuitem"><a href="activityHistory.html"><div
										class="glyphicon glyphicon-time"></div> <span class="hidden-md"
									th:text="#{sidebar_activity_history}"> Activity History</span></a></li>

							<li role="menuitem"><a
								href="../clinicaldocuments/mymedicalinfo.html"
								th:href="@{/patients/medicalinfo.html}"><div
										class="glyphicon glyphicon-folder-open"></div> <span class="hidden-md"
									th:text="#{sidebar_medical_documents}"> Medical
										Documents</span></a></li>

							<li class="shortcut-button" role="menuitem"><a
								href="../changePassword.html" th:href="@{/changePassword.html}"><div
										class="glyphicon glyphicon-unlock-alt"></div> <span class="hidden-md"
									th:text="#{sidebar_change_password}"> Change Password</span></a></li>

							<li class="shortcut-button" role="menuitem"><a
								href="../index.html"
								th:href="@{/resources/j_spring_security_logout}"><div
										class="glyphicon glyphicon-off"></div> <span class="hidden-md"
									th:text="#{sidebar_logout}"> Logout</span></a></li>
						</ul>
					</div>

					<!-- END OF SECTION REPLACED BY THYMELEAF -->
				</div>

				<!-- END: Side Nav Menu -->


				<!-- JavaScrip Enable Message -->
				<noscript th:substituteby="fragment/common :: noscriptFragment">
					<div class="alert alert-warning col-md-10 col-sm-9">
						<p id="h4-style" class="alert-heading">Warning!</p>
						<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
						target="_blank">JavaScript</a>enabled to use this site.</p>
					</div>
				</noscript>
				
				<!-- END : Page Header -->


				<!-- START: Content Region-->

				<div id="page-subcontent-holder" role="main" class="col-sm-9 col-md-10">
					<div class="row">

						<!-- COMPONENT: Healthcare Providers -->

						<div>
							<span id="updatedMessage">
								<h3 th:text="${updatedMessage}">Updated your profile
									successfully.</h3>
							</span>

							<section class="top-margin10">
								<form id="profileForm" action="#"
									th:action="@{/patients/profile.html}"
									th:object="${patientProfileDto}" method="post">
									
									<!-- TODO: Fix input elements to properly use bootstrap classes and div wrappings
												to control width instead of setting a width in pixels using CSS -->
									
									<fieldset id="edit-login-required" class="row">

										<legend>Edit Required Account Information</legend>

										<div class="required-info-group">
											<div class="form-group top-margin10">
												<div>
													<label for="first_name">First Name</label>
												</div>
												<div>
													<input id="first_name" name="firstname" type="text" aria-required="true" th:field="*{firstName}" class="form-control inline-block" />
													<span class="required-text" th:errors="*{firstName}">First name is required.</span>
													<span id="fname_client_error_text" class="required-text" style="display: none;">First name is required.</span>
												</div>
											</div>

											<div class="form-group">
												<div>
													<label for="last_name">Last Name</label>
												</div>
												<div>
													<input id="last_name" name="lastname" type="text"
														aria-required="true" th:field="*{lastName}" class="form-control inline-block" /> 
													<span class="required-text" th:errors="*{lastName}">Last name must be between 2 and 30 characters.</span>
													<span id="lname_client_error_text" class="required-text" style="display: none">Last name is required.</span>
												</div>
											</div>

											<div class="form-group">
												<div>
													<label for="gender">Gender</label>
												</div>
												<div class="controls">
													<select id="gender" th:field="*{administrativeGenderCode}" class="form-control inline-block">
														<option selected="selected" value="">Please Select</option>
														<option th:each="gender : ${administrativeGenderCodes}"
															th:value="${gender.code}" th:text="${gender.displayName}">F</option>
													</select>
													<span class="required-text" th:errors="*{administrativeGenderCode}">Gender Selection is required.</span>
													<span id="gender_client_error_text" class="required-text" style="display: none;">Gender Selection is required.</span>
												</div>
											</div>

											<div class="form-group">
												<div>
													<label for="date" class="control-label">Date of Birth</label>
												</div>
												<div id="dob" class="controls inline-block date-of-birth">
													<input type="text" id="date" data-format="MM/DD/YYYY" data-template="MMM D YYYY"
														name="date" style="display: none;" th:field="*{birthDate}" class="form-control" />
													<label class="sr-only" for="month">Month</label>	
													<select id="month" class="form-control">
														<option selected="selected" value="  ">Month</option>
														<option value="01">January</option>
														<option value="02">February</option>
														<option value="03">March</option>
														<option value="04">April</option>
														<option value="05">May</option>
														<option value="06">June</option>
														<option value="07">July</option>
														<option value="08">August</option>
														<option value="09">September</option>
														<option value="10">October</option>
														<option value="11">November</option>
														<option value="12">December</option>
													</select>
													<label class="sr-only" for="day">Day</label>
													<select id="day" class="form-control">
														<option selected="selected" value="  ">Day</option>
														<option value="01">01</option>
														<option value="02">02</option>
														<option value="03">03</option>
														<option value="04">04</option>
														<option value="05">05</option>
														<option value="06">06</option>
														<option value="07">07</option>
														<option value="08">08</option>
														<option value="09">09</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
														<option value="13">13</option>
														<option value="14">14</option>
														<option value="15">15</option>
														<option value="16">16</option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
														<option value="20">20</option>
														<option value="21">21</option>
														<option value="22">22</option>
														<option value="23">23</option>
														<option value="24">24</option>
														<option value="25">25</option>
														<option value="26">26</option>
														<option value="27">27</option>
														<option value="28">28</option>
														<option value="29">29</option>
														<option value="30">30</option>
														<option value="31">31</option>
													</select>
													<label class="sr-only" for="year">Year</label>
													<select id="year" class="form-control">
														<option selected="selected" value="    ">Year</option>
													</select>
													
													<span id="dob_error_text" class="required-text"
														th:errors="*{birthDate}">Date of Birth is required.</span>
													<span id="dob_client_error_text" class="required-text"
														style="display: none;">Date of Birth is required.</span>
												</div>
											</div>
											 <div class="form-group row">
											 		<div>
													<label for="socialsecurity">Social Security Number</label>
													</div>
										  			<input  class="form-group" type="text" id="socialsecurity"  th:field="*{socialSecurityNumber}" name="socialSecurityNumber" style="display: none;"/>
										  			<label class="sr-only" for="ssn1">SSN1</label>
										  			<input style="width:4em" maxlength="3" id="ssn1" type="password" class="form-control force-inline ssn"/>
										  			<label class="sr-only" for="ssn2">SSN2</label>
										            <input style="width:4em" maxlength="2" id="ssn2" size="2" type="password" class="form-control force-inline ssn"/>
										            <label class="sr-only" for="ssn3">SSN3</label>
										            <input style="width:5em" maxlength="4" id="ssn3" size="4" type="text" class="form-control force-inline ssn"/>  
										            
													<span class="required-text" th:errors="*{socialSecurityNumber}">Social security number is required.</span>
													<span id="ssn_client_error_text" class="required-text" style="display: none;">Please provide a valid social security number. For example 123-45-6789.</span>
									       </div>

											<div class="form-group">
												<div>
													<label for="email">Email</label>
												</div>
												<div>
													<input id="email" name="email" type="text" aria-required="true" th:field="*{email}" class="form-control inline-block" />
													<span class="required-text" th:errors="*{email}">Please provide a valid email address.</span>
													<span id="email_client_error_text" class="required-text" style="display: none;">
														Please provide a valid email address.</span>
												</div>
		                                    		                                    												
											</div>
										</div>									

										<div style="clear: both"></div>
									</fieldset>

									<fieldset id="edit-login-additional" class="row">

										<legend>Edit Additional Account Information</legend>

										<div style="margin-top: 10px;" class="username-container address-info-group">
											<p>Address</p>
											<div class="form-group">
												<label for="street">Street Address</label>
												<input id="street" name="streetAddressLine" type="text"
													th:field="*{addressStreetAddressLine}" class="form-control" />
											</div>
											
											<div class="form-group">	
												<label for="city">City</label>
												<input id="city" name="city" type="text"
													th:field="*{addressCity}" class="form-control" />
											</div>
											
											<div class="form-group">
												<label for="state">State</label>
												<select id="state" th:field="*{addressStateCode}" class="form-control">
													<option selected="selected" value="">Please Select</option>
													<option th:each="addressState : ${stateCodes}" th:value="${addressState.code}"
														th:text="${addressState.displayName}">Alabama</option>
												</select>
											</div>
											
											<div class="form-group">
												<div>
													<label for="zip">Zip Code</label>
												</div>
												<div class="inline-block">
													<input id="zip" name="postalCode" type="text"
														th:field="*{addressPostalCode}" class="form-control" />
													<span class="required-text" th:errors="*{addressPostalCode}">Please provide a valid zip code</span>
													<span id="zip_client_error_text" class="required-text" style="display: none;">
														Please provide a valid zip code</span>
												</div>
											</div>
										</div>

										<div class="other-info-group">

											<div class="form-group">
												<div>
													<label for="phone">Phone Number</label>
												</div>
												<div class="inline-block">
													<input id="phone" name="telephone" type="text" th:field="*{telephoneTelephone}" class="form-control" />
													<span class="required-text" th:errors="*{telephoneTelephone}">
														Please provide a valid phone number. For example <span style="white-space: nowrap;">123-456-7890.</span></span>
													<span id="phone_client_error_text" class="required-text" style="display: none;">
														Please provide a valid phone number. For example <span style="white-space: nowrap;">123-456-7890.</span></span>
												</div>
											</div>

										<!-- 	<div class="form-group">
												<div>
													<label for="socialsecurity">Social Security Number</label>
												</div>
												<div class="inline-block">
													<input id="socialsecurity" name="socialSecurityNumber" type="text"
														th:field="*{socialSecurityNumber}" class="form-control" />
													<span class="required-text" th:errors="*{socialSecurityNumber}">
														Please provide a valid social security number. For example 123-45-6789.</span>
													<span id="ssn_client_error_text" class="required-text" style="display: none;">
														Please provide a valid social security number. For example 123-45-6789.</span>
												</div>
											</div> -->
											
										<!-- 	<div class="form-group">
												<div>
													<label class="control-label">Date of Birth</label>
												</div>
												<div id="dob" class="controls inline-block">
													<input type="text" id="date" data-format="MM/DD/YYYY" data-template="MMM D YYYY"
														name="date" style="display: none;" th:field="*{birthDate}" class="form-control" /> -->
											
											
											
<!-- 											<div class="form-group"> -->
<!-- 												<div> -->
<!-- 													<label for="medical_record_number">Medical Record Number (MRN)</label> -->
<!-- 												</div> -->
<!-- 												<div class="inline-block"> -->
<!-- 													<input id="medical_record_number" name="medicalRecordNumber" type="text" -->
<!-- 														th:field="*{medicalRecordNumber}" class="form-control" /> -->
<!-- 													<span class="required-text" th:errors="*{medicalRecordNumber}"> -->
<!-- 														Please provide a valid medical record number.</span> -->
<!-- 													<span id="mrn_client_error_text" class="required-text" style="display: none;"> -->
<!-- 														Please provide a valid medical record number.</span> -->
<!-- 												</div> -->
<!-- 											</div> -->
											
											<!-- <div class="form-group">
												<div>
													<p for="enterprise_identifier">Enterprise Identifier (EID)</p>
												</div>
												<div class="inline-block">
													<span id="enterprise_identifier" th:text="*{enterpriseIdentifier}" >
													
													</span>
													<span id="enterprise_identifier" th:text="*{enterpriseIdentifier}?: 'You must enter a valid MRN to view the Enterprise Identifier.'" >
													You must enter a valid MRN to view the Enterprise Identifier.
													</span>
												</div>												
												div class="inline-block">
													<input id="enterprise_identifier" name="enterpriseIdentifier" type="text"
														th:field="*{enterpriseIdentifier}" class="form-control" th:disabled="true"/>
												</div
											</div> -->
											
											<div class="form-group">
												<label for="maritalstate" class="control-label">Marital Status</label>
												<select id="maritalstate" th:field="*{maritalStatusCode.code}" class="form-control">
													<option selected="selected" value="">Please Select</option>
													<option th:each="maritalStatus : ${maritalStatusCodes}" th:value="${maritalStatus.code}"
														th:text="${maritalStatus.displayName}">Married</option>
												</select>
											</div>


											<div class="form-group">
												<label for="religiousaffiliation" class="control-label">Religious Affiliation</label>
												<div class="controls">
													<select id="religiousaffiliation" th:field="*{religiousAffiliationCode.code}" class="form-control">
														<option selected="selected" value="">Please Select</option>
														<option th:each="religiousAffiliation : ${religiousAffiliationCodes}"
															th:value="${religiousAffiliation.code}" th:text="${religiousAffiliation.displayName}">Voodoo</option>
													</select>
												</div>
											</div>

											<div class="form-group">
												<label for="raceethnicity" class="control-label">Race/Ethnicity</label>
												<div class="controls">
													<select id="raceethnicity" th:field="*{raceCode.code}" class="form-control">
														<option selected="selected" value="">Please Select</option>
														<option th:each="race : ${raceCodes}" th:value="${race.code}" th:text="${race.displayName}">White</option>
													</select>
												</div>
											</div>
											
											<div class="form-group">
												<label for="primarylanguage" class="control-label">Primary Language Spoken</label>
												<div class="controls">
													<select id="primarylanguage" th:field="*{languageCode.code}" class="form-control">
														<option selected="selected" value="">Please Select</option>
														<option th:each="language : ${languageCodes}" th:value="${language.code}"
															th:text="${language.displayName}">English, US</option>
													</select>
												</div>
											</div>
											
										</div>
										<!-- what -->
										<div style="clear: both"></div>

										<div class="form-group bottom-btn-group">
											<div class="controls">
												<button type="button" class="btn btn-default"
													onClick="window.location.href='home.html'"
													style="margin: 0 10px 0 0;">Cancel</button>

												<!-- Button trigger modal -->
												<button id="saveProfile" type="button" class="btn btn-primary"
													data-toggle="modal" data-target="#username_password_modal">Save</button>

												<!-- Modal -->
												<div class="modal fade" id="username_password_modal" tabindex="-1"
													role="dialog" aria-labelledby="username_password_modal_Label"
													aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"
																	aria-hidden="true">&times;</button>
																<h4 class="modal-title">Please re-enter your username and password:</h4>
															</div>
															<div class="modal-body">
																<div id="username-password-container">
																	<div class="form-group">
																		<label for="user_name">Username</label>
																		<input id="user_name" name="username" type="text" class="form-control"
																			aria-required="true" th:field="*{username}" />
																		<span class="required-text" th:errors="*{username}">Username is required.</span>
																		<span id="username_client_error_text" class="required-text" style="display: none;">Username is required.</span>
																	</div>

																	<div class="form-group">
																		<label for="password">Password</label>
																		<input id="password" name="password" type="password" class="form-control"
																			aria-required="true" th:field="*{password}" autocomplete="off"/>
																		<span class="required-text" th:errors="*{password}">Password is required.</span>
																		<span id="pwd_client_error_text" class="required-text" style="display: none;">Password is required.</span>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-default"
																	data-dismiss="modal">Close</button>
																<button id="profileFormSubmitButton" type="submit" value="Submit" class="btn btn-sm btn-primary">Submit</button>
															</div>
														</div>
														<!-- /.modal-content -->
													</div>
													<!-- /.modal-dialog -->
												</div>
												<!-- /.modal -->
												
											</div>
										</div>
									</fieldset>
								</form>

								
							</section>
						</div>
						<!-- COMPONENT: Connections -->
					</div>
				</div>
				<!--/#content.col-md-10-->
			</div>
			<!--/fluid-row-->
			<!-- END: Content Region -->

			<!-- ELEMENT: Divider -->

		</div>
	</div>

	<!-- START: Footer Region -->
	<footer class="bottom"
		th:substituteby="fragment/common :: indexFooterFragment3">

		<!-- COMPONENT: Copyright Information -->
		<p class="top-margin10 pull-left">
			&copy; <a class="footer-link" href="" target="_blank">A SAMHSA
				Public Service</a> 2013
		</p>

	</footer>
	<!-- END: Footer Region -->
</div>

	<!-- START: JavaScript-->
	
		<script src="../../../resources/js/modernizr.mq.js" 
				th:src="@{/resources/js/modernizr.mq.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/moment.min.1.7.2.js" 
				th:src="@{/resources/js/moment.min.1.7.2.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/dateValidator.js" 
				th:src="@{/resources/js/dateValidator.js}"
				type="text/javascript"></script>
		
		
		<!-- Custom JavaScript -->
		<script src="../../../resources/js/validatorFunctions.js"
				th:src="@{/resources/js/validatorFunctions.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/webpage-js/profile_registration.js" 
				th:src="@{/resources/js/webpage-js/profile_registration.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/webpage-js/userAccountInfoValidation.js" 
				th:src="@{/resources/js/webpage-js/userAccountInfoValidation.js}"
				type="text/javascript"></script>
		<script src="../../../resources/js/webpage-js/profile.js" 
				th:src="@{/resources/js/webpage-js/profile.js}"
				type="text/javascript"></script>
				
		<script  src="../../resources/js/jquery.autotab-1.1b.js"
			th:src="@{/resources/js/jquery.autotab-1.1b.js}" 
			type="text/javascript"></script>
	
	<!-- END: JavaScript-->		

</body>
</html>
