<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerFragment">
	<meta charset="utf-8" />
	<!-- title needs to be dynamic -->
	<title>Consent2Share</title>
	<meta name="description" content="Consent Management System" />
	<meta name="author" content="FEiSystems" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<!-- END: Meta -->
	<!-- START: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- END: Mobile Specific -->
	<!-- START: CSS -->

	<!-- Bootstrap related CSS files -->
	<link id="bootstrap-style" href="../../resources/css/modules/bootstrap.css"
		rel="stylesheet" th:href="@{/resources/css/modules/bootstrap.css}" />
	<link href="../../resources/css/modules/font-awesome.css"
		th:href="@{/resources/css/modules/font-awesome.css}" rel="stylesheet" />
	<link href="../../resources/css/modules/jquery-ui.css"
		th:href="@{/resources/css/modules/jquery-ui.css}" rel="stylesheet" />
	<!-- Plug-in Stylesheets -->
	<link href="../../resources/css/modules/joyride-2-0-3.css" rel="stylesheet"
		th:href="@{/resources/css/modules/joyride-2-0-3.css}" />

	<!-- Custom CSS Files -->
	<link href="../../resources/css/custom/themes-style.css" rel="stylesheet"
		th:href="@{/resources/css/custom/themes-style.css}" />
	<link href="../../resources/css/custom/c2s-core-style.css" rel="stylesheet"
		th:href="@{/resources/css/custom/c2s-core-style.css}" />

	<!-- END: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	    
	<!-- START: Favicon -->
	<link rel="icon" href="../../resources/img/favicon.ico"  
		th:href="@{/resources/img/favicon.ico}" type="image/x-icon"/>
	<link rel="shortcut icon" href="../../resources/img/favicon.ico"  
		th:href="@{/resources/img/favicon.ico}" type="image/x-icon"/>
	<!-- END: Favicon -->


</head>
<body>

	<!-- START: noscript warning fragment for when JS is off -->
	<noscript th:fragment="noscriptFragment">
		<div class="alert alert-warning col-md-10 col-sm-9">
			<p id="h4-style" class="alert-heading">Warning!</p>
			<p>
				You need to have <a href="https://en.wikipedia.org/wiki/JavaScript"
					th:href="@{https://en.wikipedia.org/wiki/JavaScript}"
					target="_blank">JavaScript</a> enabled to use this site.
			</p>
		</div>
	</noscript>
	<!-- END: noscript warning fragment for when JS is off -->


	<!-- START: Logo Fragment -->
	<span th:fragment="logoFragment">
		<div style="position: relative;">
			<span th:substituteby="fragment/common :: logoSubFragment"> <a
				id="logoFragment" class="navbar-brand logo-fragment" th:href="@{/index.html}"
				href="index.html"><span id="brand-blue" class="app-brand"></span><img
					src="../../resources/img/consent2share-04.svg"
					th:src="@{/resources/img/consent2share-04.svg}" /></a> <span
				id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION
							PURPOSES only.</p></i></span>
			</span>
		</div>
	</span>
	<!-- END: Logo Fragment -->

	<!-- START: Logo Sub-fragment -->
	<span th:fragment="logoSubFragment"> <a id="logoFragment"
		class="navbar-brand logo-fragment" th:href="@{/index.html}" href="index.html"><span
			id="brand-blue" class="app-brand"></span><img
			src="../../resources/img/consent2share-04.svg"
			th:src="@{/resources/img/consent2share-04.svg}"
			alt="home page" /></a> <span
		id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION
					PURPOSES only.</p></i></span>
	</span>
	<!-- End: Logo Sub-fragment -->


	<!-- START: Admin Pages Logo Fragment -->
	<span th:fragment="adminLogoFragment"> <span
		th:substituteby="fragment/common :: logoSubFragment"> <a
			id="logoFragment" class="navbar-brand logo-fragment" th:href="@{/index.html}"
			href="index.html"><span id="brand-blue" class="app-brand"></span><img
				src="../../resources/img/consent2share-04.svg"
				th:src="@{/resources/img/consent2share-04.svg}" /></a> <span
			id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION
						PURPOSES only.</p></i></span>
	</span>
	</span>
	<!-- END: Logo Fragment -->



	<!-- START: Navbar Header Fragment with Back Button only -->

	<div class="navbar-header navbar-inner-header" role="navigation"
		th:fragment="navbarHeaderFragmentBackOnly">
		<a th:substituteby="fragment/common :: backButtonFragment"
			id="bread-crumb-btn"  th:href="@{${backPageURI}}" href="#"
			class="btn btn-info breadcrumb-btn"> <span class="fa fa-chevron-left fa-white"></span>
		</a>

		<h1>
			<span class="nav-title" th:text="${currentPageTitle}">Page
				Title</span>
		</h1>

		<span th:substituteby="fragment/common :: logoFragment">
			<div style="position: relative;">
				<a id="logoFragment" class="navbar-brand brand logo-fragment"
					th:href="@{/index.html}" href="index.html"><span
					id="brand-blue" class="app-brand"></span><img
					src="../../resources/img/consent2share-04.svg"
					th:src="@{/resources/img/consent2share-04.svg}" /></a> <span
					id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION
							PURPOSES only.</p></i></span>
			</div>
		</span>
	</div>

	<!-- END: Navbar Header Fragment with Back Button only -->

	<!-- START: Navbar Header Fragment with nothing besides logo and title -->

	<div class="navbar-header navbar-inner-header" role="navigation"
		th:fragment="navbarHeaderFragmentBasic">
		<h1>
			<span class="nav-title" th:text="${currentPageTitle}">Page
				Title</span>
		</h1>

		<span th:substituteby="fragment/common :: logoFragment">
			<div style="position: relative;">
				<a id="logoFragment" class="navbar-brand brand logo-fragment"
					th:href="@{/index.html}" href="index.html"><span
					id="brand-blue" class="app-brand"></span><img
					src="../../resources/img/consent2share-04.svg"
					th:src="@{/resources/img/consent2share-04.svg}" /></a> <span
					id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION
							PURPOSES only.</p></i></span>
			</div>
		</span>
	</div>

	<!-- END: Navbar Header Fragment with nothing besides logo and title -->





	<!-- START: Back Button Fragment -->
	<a th:fragment="backButtonFragment" id="bread-crumb-btn"
		th:href="@{${backPageURI}}" href="#" class="btn btn-sm btn-info breadcrumb-btn"
		style="margin-right: 8px;"> <span
		class="fa fa-chevron-left fa-white"></span>
	</a>
	<!-- END: Back Button Fragment -->


	<!-- START: Mobile Menu Button Fragment -->
	<a th:fragment="mobileMenuButtonFragment"
		class="btn btn-info btn-mainmenu" data-toggle="collapse"
		data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
		<span class="fa fa-bars"></span>
	</a>
	<!-- END: Mobile Menu Button Fragment -->




	<!-- START: Footer Fragment -->
	<footer class="bottom" id="center-footer" th:fragment="footer">

		<div>
			<!-- COMPONENT: Copyright Information -->
			<!-- 				<p class="top-margin10 pull-left">&copy; <a class="footer-link" href="" target="_blank">A SAMHSA Public Service</a> 2013</p> -->
		</div>

		<div class="hidden">
			<!-- Include jQuery JavaScript on all pages using footer fragment -->
			<script src="../../resources/js/jquery.min.js"
				th:src="@{/resources/js/jquery.min.js}" type="text/javascript"></script>

			<!-- Include bootstrap.js JavaScript file on all pages using footer fragment -->
			<script src="../../resources/js/bootstrap.js"
				th:src="@{/resources/js/bootstrap.js}" type="text/javascript"></script>

			<!-- Include custom JavaScript from footerFragment.js file on all pages using footer fragment -->
			<script src="../../resources/js/jquery-ui.min.js"
				th:src="@{/resources/js/jquery-ui.min.js}" type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/sessionTimeout.js"
				th:src="@{/resources/js/webpage-js/sessionTimeout.js}"
				type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/footerFragment.js"
				th:src="@{/resources/js/webpage-js/footerFragment.js}"
				type="text/javascript"></script>
		</div>

	</footer>

	<!-- END: Footer Fragment -->



	<!-- START: Index Page Footer Fragment -->

	<footer th:fragment="indexFooterFragment" class="home-footer">

		<div id="footer-features" class="footer-content-features">

			<div class="col-md-4 col-sm-4">
				<h3>Education Center</h3>
				<ul class="nav nav-pills">
					<li><a href="education_center_mainpage.html">Balancing Safety and Privacy </a></li>
					<li><a href="#">Consulting Your Doctor</a></li>
					<li><a href="#">Using The Consent 2 Share</a></li>
					<li><a href="#">Health Information Privacy</a></li>
					<li><a href="#">FAQ</a></li>

				</ul>
			</div>

			<div class="col-md-4 col-sm-4">
				<h3>About Us</h3>
				<ul class="nav nav-pills">
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Accessibility</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Disclaimer</a></li>
					<li><a href="#">Feedback</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>

		</div>

		<div th:substituteby="fragment/common :: sessionTimeoutDialogFragment"></div>


		<div th:substituteby="fragment/common :: footerScriptsFragment"
			class="hidden">
			<!-- Include jQuery JavaScript on all pages using footer fragment -->
			<script src="../../resources/js/jquery.min.js"
				th:src="@{/resources/js/jquery.min.js}" type="text/javascript"></script>

			<!-- Include bootstrap.js JavaScript file on all pages using footer fragment -->
			<script src="../../resources/js/bootstrap.js"
				th:src="@{/resources/js/bootstrap.js}" type="text/javascript"></script>

			<!-- Include custom JavaScript from footerFragment.js file on all pages using footer fragment -->
			<script src="../../resources/js/jquery-ui.min.js"
				th:src="@{/resources/js/jquery-ui.min.js}" type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/sessionTimeout.js"
				th:src="@{/resources/js/webpage-js/sessionTimeout.js}"
				type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/footerFragment.js"
				th:src="@{/resources/js/webpage-js/footerFragment.js}"
				type="text/javascript"></script>
		</div>

	</footer>
<!-- new footer fragment -->
	<footer th:fragment="indexFooterFragment2" class="home-footer2">

		<!-- <div id="footer-features"> -->
		<div>

			<!-- <div class="col-md-4 col-sm-4">
				<h3>Education Center</h3>
				<ul class="nav nav-pills">
					<li><a href="education_center_mainpage.html">Balancing Safety and Privacy </a></li>
					<li><a href="#">Consulting Your Doctor</a></li>
					<li><a href="#">Using The Consent 2 Share</a></li>
					<li><a href="#">Health Information Privacy</a></li>
					<li><a href="#">FAQ</a></li>

				</ul>
			</div> -->

<!-- 			<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol> -->

			<div class="row" style="position: relative;">
				<!-- <div id="logos" class="top-margin10"> -->
					<div id="pg-logos" class="pg-join-logo">
						<img style="margin-right: 10px;" src="../../resources/img/HDept_Logo_100.png" height="50px" alt="Prince George's County Health Department" title="Prince George's County Health Department"
							th:src="@{/resources/img/HDept_Logo_100.png}" />
						<img src="../../resources/img/PGC-SealClrRLB_100.png" height="50px" alt="Prince George's County" title="Prince George's County"
							th:src="@{/resources/img/PGC-SealClrRLB_100.png}" />
					</div>
				<!-- </div> -->
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4 bottom-margin10 no-pad">
						<ul>
							<li>Behavioral Health Services Division</li>
							<li>Cheverly Clinic (301) 583-5920</li>
							<li>Dyer Clinic (301) 856-9400</li>
						</ul>
					</div>
					<div id="faq_link" class="col-md-4 no-pad faq-link">
						<div class="top-margin10">
							<p>
								<a href="faq_page.html">Frequently Asked Questions</a>
							</p>
						</div>
					</div>
			<!--    <div id="logos" class="col-md-4 no-pad">
						<div class="top-margin10">
						<img src="../../resources/img/HDept_Logo_100.png" height="50px"
					th:src="@{/resources/img/HDept_Logo_100.png}" />

						</div>
					</div> -->

				</div>
			</div>


			<div class="row">
					<div class="col-md-10 col-md-offset-1 small bottom-margin15 index-disclaimer">

						<p><strong>Disclaimer: </strong>The information contained within this Website is provided for informational and educational purposes only.
						The use of this Website does not imply nor establish any type of doctor/patient relationship. No diagnosis or treatment is being provided by the use
						of this Website. The use of this Website does not constitute nor offer any specific medical, dental or surgical advice whatsoever to anyone and is not
						intended for that use. This Website takes no responsibility with regards to misinterpretation of the information provided within this Website
						or any consequences resulting from the use of this Website. This Website takes no responsibility for any websites that may be linked to this Website
						nor imply any relationships or endorsements to any linked Website. <span style="white-space: nowrap;">Copyright &copy; 2104.</span> All rights reserved.
						</p>
					</div>
			</div>

		</div>

		<div th:substituteby="fragment/common :: sessionTimeoutDialogFragment"></div>


		<div th:substituteby="fragment/common :: footerScriptsFragment"
			class="hidden">
			<!-- Include jQuery JavaScript on all pages using footer fragment -->
			<script src="../../resources/js/jquery.min.js"
				th:src="@{/resources/js/jquery.min.js}" type="text/javascript"></script>

			<!-- Include bootstrap.js JavaScript file on all pages using footer fragment -->
			<script src="../../resources/js/bootstrap.js"
				th:src="@{/resources/js/bootstrap.js}" type="text/javascript"></script>

			<!-- Include custom JavaScript from footerFragment.js file on all pages using footer fragment -->
			<script src="../../resources/js/jquery-ui.min.js"
				th:src="@{/resources/js/jquery-ui.min.js}" type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/sessionTimeout.js"
				th:src="@{/resources/js/webpage-js/sessionTimeout.js}"
				type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/footerFragment.js"
				th:src="@{/resources/js/webpage-js/footerFragment.js}"
				type="text/javascript"></script>
		</div>

	</footer>

	<!-- END: Index Page Footer Fragment -->

<!-- new footer fragment3 -->
	<footer th:fragment="indexFooterFragment3" class="home-footer2">

		<!-- <div id="footer-features"> -->
		<div>

			<!-- <div class="col-md-4 col-sm-4">
				<h3>Education Center</h3>
				<ul class="nav nav-pills">
					<li><a href="education_center_mainpage.html">Balancing Safety and Privacy </a></li>
					<li><a href="#">Consulting Your Doctor</a></li>
					<li><a href="#">Using The Consent 2 Share</a></li>
					<li><a href="#">Health Information Privacy</a></li>
					<li><a href="#">FAQ</a></li>

				</ul>
			</div> -->

<!-- 			<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol> -->

			<div class="row" style="position: relative;">

				<div id="pg-logos" class="pg-join-logo">
						<img style="margin-right: 10px;" src="../../resources/img/HDept_Logo_100.png" height="50px" alt="Prince George's County Health Department" title="Prince George's County Health Department"
							th:src="@{/resources/img/HDept_Logo_100.png}" />
						<img src="../../resources/img/PGC-SealClrRLB_100.png" height="50px" alt="Prince George's County" title="Prince George's County"
							th:src="@{/resources/img/PGC-SealClrRLB_100.png}" />
				</div>

				<div class="col-md-3 bottom-margin10">
					<ul>
						<li>Behavioral Health Services Division</li>
						<li>Cheverly Clinic (301) 583-5920</li>
						<li>Dyer Clinic (301) 856-9400</li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="top-margin10 index-disclaimer">
						<p><strong>Disclaimer:</strong> The Prince George's County Health Department complies with all federal confidentiality
						 laws and regulations, and we will only disclose medical information about you that you consent to share.
						 <span style="white-space: nowrap;">Copyright &copy; 2104.</span> All rights reserved.
						</p>
					</div>
				</div>
				<!-- <ol class="breadcrumb">
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Accessibility</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="faq_page.html">FAQs</a></li>
					<li><a href="#">Disclaimer</a></li>
					<li><a href="#">Feedback</a></li>
					<li><a href="#">Site Map</a></li>
				</ol> -->
			</div>


			<!-- <div class="row">
					<div class="col-md-10 col-md-offset-1 small bottom-margin15 index-disclaimer">

						<p><span style="font-weight: bold;">Disclaimer: </span>The Prince George's County Health Department complies with all federal confidentiality
						 laws and regulations, and we will only disclose medical information about you that you consent to share.
						</p>
					</div>
			</div> -->

		</div>

		<div th:substituteby="fragment/common :: sessionTimeoutDialogFragment"></div>


		<div th:substituteby="fragment/common :: footerScriptsFragment"
			class="hidden">
			<!-- Include jQuery JavaScript on all pages using footer fragment -->
			<script src="../../resources/js/jquery.min.js"
				th:src="@{/resources/js/jquery.min.js}" type="text/javascript"></script>

			<!-- Include bootstrap.js JavaScript file on all pages using footer fragment -->
			<script src="../../resources/js/bootstrap.js"
				th:src="@{/resources/js/bootstrap.js}" type="text/javascript"></script>

			<!-- Include custom JavaScript from footerFragment.js file on all pages using footer fragment -->
			<script src="../../resources/js/jquery-ui.min.js"
				th:src="@{/resources/js/jquery-ui.min.js}" type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/sessionTimeout.js"
				th:src="@{/resources/js/webpage-js/sessionTimeout.js}"
				type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/footerFragment.js"
				th:src="@{/resources/js/webpage-js/footerFragment.js}"
				type="text/javascript"></script>
		</div>

	</footer>

	<!-- END: Index Page Footer Fragment3 -->

<!-- new footer fragment4 -->
	<footer th:fragment="indexFooterFragment4-captcha" class="home-footer2 negative-bottom">
		<div>
			<div class="row" style="position: relative;">

				<div id="pg-logos" class="pg-join-logo">
						<img style="margin-right: 10px;" src="../../resources/img/HDept_Logo_100.png" height="50px" alt="Prince George's County Health Department" title="Prince George's County Health Department"
							th:src="@{/resources/img/HDept_Logo_100.png}" />
						<img src="../../resources/img/PGC-SealClrRLB_100.png" height="50px" alt="Prince George's County" title="Prince George's County"
							th:src="@{/resources/img/PGC-SealClrRLB_100.png}" />
				</div>

				<div class="col-md-3 bottom-margin10">
					<ul>
						<li>Behavioral Health Services Division</li>
						<li>Cheverly Clinic (301) 583-5920</li>
						<li>Dyer Clinic (301) 856-9400</li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="top-margin10 index-disclaimer">
						<p><strong>Disclaimer:</strong> The Prince George's County Health Department complies with all federal confidentiality
						 laws and regulations, and we will only disclose medical information about you that you consent to share.
						 <span style="white-space: nowrap;">Copyright &copy; 2104.</span> All rights reserved.
						</p>
					</div>
				</div>

			</div>
		</div>

		<div th:substituteby="fragment/common :: sessionTimeoutDialogFragment"></div>

		<div th:substituteby="fragment/common :: footerScriptsFragment"
			class="hidden">
			<!-- Include jQuery JavaScript on all pages using footer fragment -->
			<script src="../../resources/js/jquery.min.js"
				th:src="@{/resources/js/jquery.min.js}" type="text/javascript"></script>

			<!-- Include bootstrap.js JavaScript file on all pages using footer fragment -->
			<script src="../../resources/js/bootstrap.js"
				th:src="@{/resources/js/bootstrap.js}" type="text/javascript"></script>

			<!-- Include custom JavaScript from footerFragment.js file on all pages using footer fragment -->
			<script src="../../resources/js/jquery-ui.min.js"
				th:src="@{/resources/js/jquery-ui.min.js}" type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/sessionTimeout.js"
				th:src="@{/resources/js/webpage-js/sessionTimeout.js}"
				type="text/javascript"></script>
			<script src="../../resources/js/webpage-js/footerFragment.js"
				th:src="@{/resources/js/webpage-js/footerFragment.js}"
				type="text/javascript"></script>
		</div>
	</footer>

<!-- END: Index Page Footer Fragment4 -->


	<!-- START: Footer Script File Fragment -->
	<div th:fragment="footerScriptsFragment" class="hidden">
		<!-- Include jQuery JavaScript on all pages using footer fragment -->
		<script src="../../resources/js/jquery.min.js"
			th:src="@{/resources/js/jquery.min.js}" type="text/javascript"></script>

		<!-- Include bootstrap.js JavaScript file on all pages using footer fragment -->
		<script src="../../resources/js/bootstrap.js"
			th:src="@{/resources/js/bootstrap.js}" type="text/javascript"></script>

		<!-- Include custom JavaScript from footerFragment.js file on all pages using footer fragment -->
		<script src="../../resources/js/jquery-ui.min.js"
			th:src="@{/resources/js/jquery-ui.min.js}" type="text/javascript"></script>
		<script src="../../resources/js/webpage-js/sessionTimeout.js"
			th:src="@{/resources/js/webpage-js/sessionTimeout.js}"
			type="text/javascript"></script>
		<script src="../../resources/js/webpage-js/footerFragment.js"
			th:src="@{/resources/js/webpage-js/footerFragment.js}"
			type="text/javascript"></script>
	</div>
	<!-- END: Footer Script File Fragment -->

</body>

</html>