<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerFragment">
<meta charset="utf-8" />
<!-- title needs to be dynamic -->
<title>Consent2Share</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />
<!-- END: Meta -->
<!-- START: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END: Mobile Specific -->
<!-- START: CSS -->

<!-- Bootstrap related CSS files -->
<link id="bootstrap-style" href="../../resources/css/modules/bootstrap.css"
	rel="stylesheet" th:href="@{/resources/css/modules/bootstrap.css}" />
<link href="../../resources/css/modules/font-awesome.css"
	th:href="@{/resources/css/modules/font-awesome.css}"
	rel="stylesheet"/>

<!-- Plug-in Stylesheets -->	
<link href="../../resources/css/modules/joyride-2-0-3.css" rel="stylesheet"
	th:href="@{/resources/css/modules/joyride-2-0-3.css}" />

<!-- Custom CSS Files -->
<link href="../../resources/css/custom/themes-style.css" rel="stylesheet"
	th:href="@{/resources/css/custom/themes-style.css}" />
<link href="../../resources/css/custom/c2s-core-style.css" rel="stylesheet"
	th:href="@{/resources/css/custom/c2s-core-style.css}" />
	
<!-- END: CSS -->

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- START: Favicon -->
<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
<!-- END: Favicon -->

</head>
<body>

	<!-- START: Side Nav Menu -->

	<div th:fragment="sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-div">
		<div id="sidenavMenu" class="box navbar-collapse collapse sidebar-nav side-nav-menu">
		
			<form name="sidenavlogout" id="sidenavlogout"
				th:action="@{/resources/j_spring_security_logout}" method="post">
			</form>
			
			<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
				<div class="nav-header" role="menuitem"></div>
				
				<li id="sidenav_home" role="menuitem"><a href="../patients/home.html" th:href="@{/patients/home.html}">
					<div class="fa fa-home fa-lg"></div>
						<span class="" th:text="#{sidebar_my_home}"> My Home</span></a></li>
						
				<li id="sidenav_consents" role="menuitem"><a href="../consents/listConsents.html" th:href="@{/consents/listConsents.html}"><div class="fa fa-file"></div>
						<span class="" th:text="#{sidebar_my_consents}"> My Consents</span></a></li>

				<li id="sidenav_providers" role="menuitem"><a href="connectionMain.html" th:href="@{/patients/connectionMain.html}"><div class="fa fa-random"></div>
						<span class="" th:text="#{sidebar_my_contacts}"> My Providers </span></a></li>

				<li id="sidenav_profile" role="menuitem"><a href="profile.html" th:href="@{/patients/profile.html}"><div class="fa fa-user"></div>
						<span class="" th:text="#{sidebar_my_profile}"> My Profile</span></a></li>

				<li id="sidenav_activityhist" role="menuitem"><a href="activityHistory.html" th:href="@{/patients/activityHistory.html}"><div class="fa fa-clock-o"></div>
						<span class="" th:text="#{sidebar_activity_history}"> Activity History</span></a></li>

				<li id="sidenav_meddocs" role="menuitem"><a href="../clinicaldocuments/mymedicalinfo.html" th:href="@{/patients/medicalinfo.html}"><div class="fa fa-folder-open"></div>
						<span class="" th:text="#{sidebar_medical_documents}"> Medical Documents</span></a></li>
				
				<li id="sidenav_chgpwd" class="shortcut-button" role="menuitem"><a href="../changePassword.html" th:href="@{/changePassword.html}"><div class="fa fa-unlock-alt"></div>
						<span class=""> Change Password</span></a></li>
				
				<li id="sidenav_logout" class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{'javascript:document.sidenavlogout.submit()'}"><div class="fa fa-off"></div>
						<span class=""> Logout</span></a></li>
			</ul>
		</div>
	</div>

	<!-- END: Side Nav Menu -->
	
	
	<!-- START: Navbar Header Fragment -->
	
	<div class="navbar-header navbar-inner-header" role="navigation" th:fragment="navbarHeaderFragment">
			<a th:substituteby="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
				<span class="fa fa-bars"></span>
			</a>
			<h1>
				<span class="nav-title" th:text="${currentPageTitle}">Page Title</span>
			</h1>

			<span th:substituteby="fragment/common :: logoFragment">
				<div style="position: relative;">
					<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue" class="app-brand"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
					<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
				</div>
			</span>
			
			<!-- COMPONENT: Language Menu Dropdown -->
			<div th:substituteby="fragment/myaccount_menu :: languageFragment" class="btn-group btn-right-align">
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="fa fa-flag"></span>
					<span class="hidden-sm hidden-md"> Language</span>
					<span class="caret"></span>
				</a>
				
				<ul class="dropdown-menu" role="menu">
					<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=en'}">English</a></li>
					<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=cn'}">Chinese</a></li>
				</ul>
			</div>

			<!-- COMPONENT: Header Menu-->

			<div th:substituteby="fragment/myaccount_menu :: myaccountMenuFragment"
				class="btn-group pull-right">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE myaccountMenuFragment -->
				<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->

				<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
					class="hidden-sm hidden-md"> Direct E-mail</span> <span
					class="label label-warning hidden-sm">3</span>
				</a>

				<!-- COMPONENT: User Dropdown -->

				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="glyphicon glyphicon-user">&nbsp;</span><span
					class="hidden-sm hidden-md" th:text="#{header_my_account}">
						My Account</span> <span class="caret"></span>
				</a>

				<ul role="menu" class="dropdown-menu">
					<li role="menuitem"><a href="profile.html"
						th:href="@{/patients/profile.html}"
						th:text="#{header_my_profile}">My Profile</a></li>
					<li role="menuitem"><a href="profile.html"
						th:href="@{/patients/profile.html}"
						th:text="#{header_change_password}">Change Password</a></li>
					<li role="menuitem" aria-disabled="true" class="divider"></li>
					<li role="menuitem"><a href="../index.html"
						th:href="@{/resources/j_spring_security_logout}"
						th:text="#{header_logout}">Logout</a></li>
				</ul>

				<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
	</div>
	
	<!-- END: Navbar Header Fragment -->
	
	
	
	<!-- START: Navbar Header Fragment without Language Dropdown -->
	
	<div class="navbar-header navbar-inner-header" role="navigation" th:fragment="navbarHeaderFragmentNoLang">
			<a th:substituteby="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
				<span class="fa fa-bars"></span>
			</a>
			<h1>
				<span class="nav-title" th:text="${currentPageTitle}">Page Title</span>
			</h1>

			<span th:substituteby="fragment/common :: logoFragment">
				<div style="position: relative;">
					<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue" class="app-brand"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
					<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
				</div>
			</span>

			<!-- COMPONENT: Header Menu-->

			<div th:substituteby="fragment/myaccount_menu :: myaccountMenuFragment"
				class="btn-group pull-right">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE myaccountMenuFragment -->
				<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->

				<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
					class="hidden-sm hidden-md"> Direct E-mail</span> <span
					class="label label-warning hidden-sm">3</span>
				</a>

				<!-- COMPONENT: User Dropdown -->

				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="glyphicon glyphicon-user">&nbsp;</span><span
					class="hidden-sm hidden-md" th:text="#{header_my_account}">
						My Account</span> <span class="caret"></span>
				</a>

				<ul role="menu" class="dropdown-menu">
					<li role="menuitem"><a href="profile.html"
						th:href="@{/patients/profile.html}"
						th:text="#{header_my_profile}">My Profile</a></li>
					<li role="menuitem"><a href="profile.html"
						th:href="@{/patients/profile.html}"
						th:text="#{header_change_password}">Change Password</a></li>
					<li role="menuitem" aria-disabled="true" class="divider"></li>
					<li role="menuitem"><a href="../index.html"
						th:href="@{/resources/j_spring_security_logout}"
						th:text="#{header_logout}">Logout</a></li>
				</ul>

				<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
	</div>
	
	<!-- END: Navbar Header Fragment without Language Dropdown -->
	
	
	<!-- START: Navbar Header Fragment with back button & myaccountMenuFragment -->
	
	<div class="navbar-header navbar-inner-header" role="navigation" th:fragment="navbarHeaderFragmentBackAndAccount">
			<a th:substituteby="fragment/common :: backButtonFragment" id="bread-crumb-btn" th:href="@{${backPageURI}}" href="#" class="btn btn-info breadcrumb-btn" >
				<span class="fa fa-chevron-left fa-white"></span>
			</a>
			
			<a th:substituteby="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
				<span class="fa fa-bars"></span>
			</a>
			<h1>
				<span class="nav-title" th:text="${currentPageTitle}">Page Title</span>
			</h1>

			<span th:substituteby="fragment/common :: logoFragment">
				<div style="position: relative;">
					<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue" class="app-brand"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
					<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
				</div>
			</span>

			<!-- COMPONENT: Header Menu-->

			<div th:substituteby="fragment/myaccount_menu :: myaccountMenuFragment"
				class="btn-group pull-right">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE myaccountMenuFragment -->
				<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->

				<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
					class="hidden-sm hidden-md"> Direct E-mail</span> <span
					class="label label-warning hidden-sm">3</span>
				</a>

				<!-- COMPONENT: User Dropdown -->

				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="glyphicon glyphicon-user">&nbsp;</span><span
					class="hidden-sm hidden-md" th:text="#{header_my_account}">
						My Account</span> <span class="caret"></span>
				</a>

				<ul role="menu" class="dropdown-menu">
					<li role="menuitem"><a href="profile.html"
						th:href="@{/patients/profile.html}"
						th:text="#{header_my_profile}">My Profile</a></li>
					<li role="menuitem"><a href="profile.html"
						th:href="@{/patients/profile.html}"
						th:text="#{header_change_password}">Change Password</a></li>
					<li role="menuitem" aria-disabled="true" class="divider"></li>
					<li role="menuitem"><a href="../index.html"
						th:href="@{/resources/j_spring_security_logout}"
						th:text="#{header_logout}">Logout</a></li>
				</ul>

				<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
	</div>
	
	<!-- END: Navbar Header Fragment without Language Dropdown -->
	
	
	<!-- START: Navbar Header Fragment with Back Button and Language Dropdown only -->
	
	<div class="navbar-header navbar-inner-header" role="navigation" th:fragment="navbarHeaderFragmentBackAndLang">
			<a th:substituteby="fragment/common :: backButtonFragment" id="bread-crumb-btn" th:href="@{${backPageURI}}" href="#" class="btn btn-info breadcrumb-btn" >
				<span class="fa fa-chevron-left fa-white"></span>
			</a>
			
			<h1>
				<span class="nav-title" th:text="${currentPageTitle}">Page Title</span>
			</h1>

			<span th:substituteby="fragment/common :: logoFragment">
				<div style="position: relative;">
					<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue" class="app-brand"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
					<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
				</div>
			</span>
			
			<!-- COMPONENT: Language Menu Dropdown -->
			<div th:substituteby="fragment/myaccount_menu :: languageFragment" class="btn-group btn-right-align">
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="fa fa-flag"></span>
					<span class="hidden-sm hidden-md"> Language</span>
					<span class="caret"></span>
				</a>
				
				<ul class="dropdown-menu" role="menu">
					<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=en'}">English</a></li>
					<li role="menuitem"><a th:href="@{'/patients/connectionMain.html?lang=cn'}">Chinese</a></li>
				</ul>
			</div>
	</div>
	
	<!-- END: Navbar Header Fragment with Back Button and Language Dropdown only -->

</body>

</html>