<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"> 
<body>

	<!-- start ADD PROVIDER Search modal -->
	<div th:fragment="providerSearchModalFragment" id="providerSearchSelect-modal" class="modal fade" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					<h3 class="modal-title">Search for Provider</h3>
				</div>
				<div class="modal-body">
	
					<div id="page-subcontent-holder" role="main">
						<div class="row">
							<!-- !SECTION: Provider Lookup -->
							
								<section class="">
									<fieldset>
										<div class="required-info-group">
											<div class="form-group top-margin10">
												<div class="panel-group" id="accordion3">
													<div class="panel panel-default">
														<div class="panel-heading">
															<div class="panel-title accordion-header-style">
																<span id="expand1">Search by: Provider location</span>
															</div>
														</div>
														<div id="accord3_collapseOne" class="panel-collapse">
	
															<div class="panel-body">
																<div>
																	<div class="alert alert-warning">
																		<span>Enter Provider State AND City, OR Provider Zip Code</span>
																	</div>
																	<section>
																		<div class="row">
	
																			<div class="username-container col-sm-8 col-xs-12">
																				<div class="form-group">
																					<label for="search_state_name">State</label> 
																					<select id="search_state_name" class="form-control">
																						<option selected="selected" value="">Please Select</option>
																						<option th:each="addressState : ${stateCodes}"
																							th:value="${addressState.code}"
																							th:text="${addressState.displayName}">Alabama</option>
																					</select>
																					<span id="search_state_client_error_text" class="error-text required-text" style="display: none;">Please select a valid state.</span>
																					<span id="search_state_state_city_zip_client_error_text" class="error-text required-text" style="display: none;">Please select a state AND a city, OR select a zip code.</span> 
																				</div>
																				<div class="form-group">
																					<label for="search_city_name">City</label>
																					<input id="search_city_name" name="cityname" type="text" class="form-control" />
																					<span id="search_city_client_error_text" class="error-text required-text"
																						style="display: none;">Please provide a valid city that is at least 2 characters long.</span>
																					<span id="search_city_state_city_zip_client_error_text" class="error-text required-text"
																						style="display: none;">Please select a state AND a city, OR select a zip code.</span>
																				</div>
	
																			</div>
																		</div>
																		</section>
	
																		<section>
																			<div class="row">
																				<p style="font-weight: 600; color: #428bca; margin: 5px 0 8px 20px;">OR</p>
																				<div class="form-group col-sm-7">
																					<label for="search_zip_code">Zip Code</label>
																					<input id="search_zip_code" name="zipcode" type="text" class="form-control" />
																					<span id="search_zip_client_error_text" class="error-text required-text"
																						style="display: none;">Please provide a valid zip code.</span>
																					<span id="search_zip_state_city_zip_client_error_text" class="error-text required-text"
																						style="display: none;">Please select a state AND a city, OR select a zip code.</span>
																				</div>
																			</div>
																			<button id="btn_provSearchClearLocation" type="button" class="btn btn-default "
																				style="margin: 10px 10px 0 0;">Clear
																			</button>
																		</section>
																</div>
															</div>
														</div>
	
													</div>
													<div class="panel panel-default">
														<div class="panel-heading">
															<div class="panel-title accordion-header-style">
																<span id="expand2">Search by: Provider name and other criteria</span>
															</div>
														</div>
	
														<div id="accord3_collapseTwo" class="panel-collapse">
															<div class="panel-body">
																<div>
																	<div class="alert alert-warning">
																		<span>Enter Facility Name OR Last Name, AND/OR First Name, Gender, and/or Phone Number</span>
																	</div>
																	<div class="row">
																		<div id="org_prov_search_group" class="row username-container" style="display: block;">
																			<div class="form-group">
																				<label for="search_facility_name">Facility Name</label>
																				<input id="search_facility_name" name="facilityname" type="text" class="form-control" />
																				<span id="search_facilityname_client_error_text" class="error-text required-text"
																					style="display: none;">Please provide a valid facility name that is at least 2 characters long.</span>
																				<span id="facilityname_facility_lname_client_error_text" class="error-text required-text" style="display: none;">Please input either a facility name or a last name.</span>
																			</div>
																		</div>
																		
																		<p style="font-weight: 600; color: #428bca; margin: 5px 0 8px 20px;">OR</p>
																		
																		<div id="indv_prov_search_group" class="row username-container" style="display: block;">
																			<div class="form-group">
																				<label for="search_last_name">Last Name</label>
																				<input id="search_last_name" name="lastname" type="text" class="form-control" />
																				<span id="search_lname_client_error_text" class="error-text required-text"
																					style="display: none;">Please provide a valid last name that is at least 2 characters long.</span>
																				<span id="lname_facility_lname_client_error_text" class="error-text required-text" style="display: none;">Please input either a facility name or a last name.</span>
																			</div>
																			
																			<div class="form-group">
																				<label for="search_first_name">First Name <span style="font-size: small; color: #8a8a8a;"><em>(optional)</em></span></label>
																				<input id="search_first_name" name="firstname" type="text" class="form-control" />
																				<span id="search_fname_client_error_text" class="error-text required-text"
																					style="display: none;">Please provide a valid first name that is at least 2 characters long.</span>
																			</div>
																			
																			<div class="row form-group">
																				<label for="search_gender">Gender <span style="font-size: small; color: #8a8a8a;"><em>(optional)</em></span></label>
																				<select id="search_gender" class="form-control">
																					<option selected="selected" value="">Please Select</option>
																					<option th:each="gender : ${administrativeGenderCodes}" th:value="${gender.code}"
																						th:text="${gender.displayName}">F</option>
																				</select>
																				<span id="search_gender_client_error_text" class="error-text required-text" style="display: none;">Invalid gender selected.</span>
																			</div>
																		</div>
																		
																		<div class="row form-group">
																			<label for="search_phone">Phone</label>
																			<div class="form-group">
																				<input style="width: 4em" maxlength="3" id="search_phone1"
																					name="phone" type="text"
																					class="form-control force-inline" />
																				<input style="width: 4em" maxlength="3" id="search_phone2"
																					size="3" name="phone" type="text"
																					class="form-control force-inline" />
																				<input style="width: 5em" maxlength="4" id="search_phone3"
																					size="4" name="phone" type="text"
																					class="form-control force-inline" />
																			</div>
																			<span id="search_phone_client_error_text" class="error-text required-text"
																				style="display: none;">Please provide a valid phone number.</span>
																		</div>
																	</div>
																	<button id="btn_provSearchClearNameAndOthers" type="button" class="btn btn-default"
																		style="margin: 10px 10px 0 0;">Clear</button>
																</div>
															</div>
														</div>
	
													</div>
												</div>
											</div>
										</div>
									</fieldset>
									
									<fieldset>
										<div class="control-group">
											<div class="controls">
												<button type="button" class="btn btn-default"
													style="margin: 0 10px 0 0;" onclick="clearAll()">Clear
													All</button>
												<button id="searchButton" data-toggle="modal"
													type="button" class="btn btn-primary"
													onClick='if(validDashboardProviderSearchForm()) dashboardTriggerLookup();'>Search</button>
												<div id="testdiv"></div>
												<span id="empty_client_error_text" class="error-text required-text"
													style="display: none;">Please input all required search criteria.</span>
	
											</div>
										</div>
	
	
										<div class="clearfix"></div>
	
									</fieldset>
								</section>
							
						</div>
						<!-- end row -->
					</div>
					<!-- end col-md-10-->
	
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- end ADD PROVIDER Search modal -->

</body>
</html>