<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">


<div th:fragment="providerCardFragment" class="provider_record_space" th:attr="data-prov-id=${crd_provider_id},data-prov-type=${crd_provider_type}">
	<div class="provider_record_box">
		<div class="provider_record_header">
			<p class="result_row">
				<span class="result_field provider_name_field" th:text="${crd_provider_name}">Healthcare Provider Name</span>
				<span class="result_field" th:text="'[NPI: '+${crd_provider_npi}+']'">[NPI: 0123456789]</span>
			</p>
			<p class="result_row add_button_space">
				<span class="result_field"><button class="btn-delete-prov btn btn-xs btn-danger"><span class="fa fa-minus fa-white"></span></button></span>Remove this Provider.
			</p>
		</div>
		<p class="result_row"><span class="result_field provider_specialty_field" th:text="${crd_provider_specialty}">Provider Specialty Field</span></p>
		<input type="hidden" th:id="'prov-address-input-NPI'+${crd_provider_npi}" class="prov-address-input" th:attr="data-npi=${crd_provider_npi},data-streetaddress=${crd_provider_firstLinePracticeLocationAddress},data-city=${crd_provider_practiceLocationAddressCityName},data-state=${crd_provider_practiceLocationAddressStateName},data-zip=${crd_provider_practiceLocationAddressPostalCode}" />
		<p class="result_row"><span th:id="'prov-address-display-NPI'+${crd_provider_npi}" class="result_field prov-address-display">123 Main Street, Anytown, MD 12345-1234</span></p>
		<p class="result_row"><span th:id="'crd-prov-phone-display-NPI'+${crd_provider_npi}" class="result_field prov-phone-display" th:text="${crd_provider_phone}">(800) 888-8888</span></p>
	</div>
</div>

<div th:fragment="providerCardFragment_favorites" class="provider_record_space" th:attr="data-prov-id=${crd_provider_id},data-prov-type=${crd_provider_type}">
	<div class="provider_record_box">
		<div class="provider_record_header">
			<p class="result_row">
				<span class="result_field provider_name_field" th:text="${crd_provider_name}">Healthcare Provider Name</span>
				<span class="result_field" th:text="'[NPI: '+${crd_provider_npi}+']'">[NPI: 0123456789]</span>
				<span class="favorite">
					<!-- DO NOT REMOVE OR CHANGE favorite-icon CLASS BELOW,
					AND DO NOT CHANGE SPAN ELEMENT TO ANOTHER TYPE OF ELEMENT -->
					<span class="favorite-icon favorite-true"></span>
				</span>
			</p>
			<p class="result_row add_button_space">
				<span class="result_field"><button class="btn btn-xs btn-success"><span class="fa fa-plus fa-white"></span></button></span>Add this Provider.
			</p>
		</div>
		<p class="result_row"><span class="result_field provider_specialty_field" th:text="${crd_provider_specialty}">Provider Specialty Field</span></p>
		<input type="hidden" th:id="'prov-address-input-NPI'+${crd_provider_npi}" class="prov-address-input" th:attr="data-npi=${crd_provider_npi},data-streetaddress=${crd_provider_firstLinePracticeLocationAddress},data-city=${crd_provider_practiceLocationAddressCityName},data-state=${crd_provider_practiceLocationAddressStateName},data-zip=${crd_provider_practiceLocationAddressPostalCode}" />
		<p class="result_row"><span th:id="'prov-address-display-NPI'+${crd_provider_npi}" class="result_field prov-address-display">123 Main Street, Anytown, MD 12345-1234</span></p>
		<p class="result_row"><span th:id="'crd-prov-phone-display-NPI'+${crd_provider_npi}" class="result_field prov-phone-display" th:text="${crd_provider_phone}">(800) 888-8888</span></p>
	</div>
</div>

<!-- THIS CODE IS WHAT SHOULD BE OUTPUT WHEN THE PROVIDER CANNOT BE REMOVED:
<div th:fragment="providerCardFragment" class="provider_record_space assigned">
	<div class="provider_record_box">
		<div class="provider_record_header">
			<div class="result_row">
				<span class="result_field provider_name_field">Second Healthcare Provider Name</span>
				<span class="result_field">[NPI: 0123456789]</span>
				<span class="favorite"><span class="favorite-icon favorite-true"></span></span>
			</div>
			<div class="result_row add_button_space inline-block">
				<em>Provider currently assigned to Consent.</em>
			</div>
		</div>
		<p class="result_row"><span class="result_field provider_specialty_field">Provider Specialty Field</span></p>
		<p class="result_row"><span class="result_field">123 Main Street, Anytown, MD 12345-1234</span></p>
		<p class="result_row"><span class="result_field">(800) 888-8888</span></p>
	</div>
</div> 
 -->

</html>