<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerFragment">
<meta charset="utf-8" />
<!-- title needs to be dynamic -->
<title>Consent2Share</title>
<meta name="description" content="Consent Management System" />
<meta name="author" content="FEiSystems" />
<!-- END: Meta -->
<!-- START: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END: Mobile Specific -->
<!-- START: CSS -->

<!-- Bootstrap related CSS files -->
<link id="bootstrap-style" href="../../resources/css/modules/bootstrap.css"
	rel="stylesheet" th:href="@{/resources/css/modules/bootstrap.css}" />
<link href="../../resources/css/modules/font-awesome.css"
	th:href="@{/resources/css/modules/font-awesome.css}"
	rel="stylesheet"/>

<!-- Plug-in Stylesheets -->	
<link href="../../resources/css/modules/joyride-2-0-3.css" rel="stylesheet"
	th:href="@{/resources/css/modules/joyride-2-0-3.css}" />

<!-- Custom CSS Files -->
<link href="../../resources/css/custom/themes-style.css" rel="stylesheet"
	th:href="@{/resources/css/custom/themes-style.css}" />
<link href="../../resources/css/custom/c2s-core-style.css" rel="stylesheet"
	th:href="@{/resources/css/custom/c2s-core-style.css}" />
	
<!-- END: CSS -->

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- START: Favicon -->
<!--    <link rel="shortcut icon" href="images/favicon.ico"> -->
<!-- END: Favicon -->

</head>
<body>

	<!-- START: Side Nav Menu -->

	<div th:fragment="sideNavMenuFragment" class="col-md-2 col-sm-3 main-menu-div">
		<div id="sidenavMenu" class="box navbar-collapse collapse sidebar-nav side-nav-menu">			
			<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
				<li class="nav-header" role="menuitem"></li>
				
				<li id="sidenav_codeSystems" role="menuitem"><a href="../sysadmin/home.html" th:href="@{/sysadmin/home.html}"><div class="fa fa-th-large"></div>
						<span class="" th:text="#{sidebar_codeSystems}"> Code Systems </span></a></li>

 				<li id="sidenav_codeSystemVersions" role="menuitem"><a href="../sysadmin/codeSystemVersionList.html" th:href="@{/sysadmin/codeSystemVersionList.html}"> <div class="fa fa-th"></div>
						<span class="" th:text="#{sidebar_codeSystemVersions}">Code System Versions</span></a></li>
						
				<li id="sidenav_valueSetCats" role="menuitem"><a href="../sysadmin/valueSetCategoryList.html" th:href="@{/sysadmin/valueSetCategoryList.html}"> <div class="fa fa-th-list"></div>
						<span class="" th:text="#{sidebar_valueSetCats}">Value Set Categories</span></a></li>

				<li id="sidenav_valueSets" role="menuitem"><a href="../sysadmin/valueSetList.html" th:href="@{/sysadmin/valueSetList.html}"> <div class="fa fa-list-ul"></div>
						<span class="" th:text="#{sidebar_valueSets}">Value Sets</span></a></li>
	
				<li id="sidenav_conceptCodes" role="menuitem"><a href="../sysadmin/conceptCodeList.html" th:href="@{/sysadmin/conceptCodeList.html}"> <div class="fa fa-table"></div>
						<span class="" th:text="#{sidebar_conceptCodes}"> Concept Codes </span></a></li>
				<li id="sidenav_MedSections" role="menuitem"><a href="../sysadmin/medicalSectionList.html" th:href="@{/sysadmin/medicalSectionList.html}"> <div class="fa fa-th-list"></div>
						<span class="" th:text="#{sidebar_MedSections}">Medical Sections</span></a></li>
				<li id="sidenav_lookup" role="menuitem"><a href="../sysadmin/lookup.html" th:href="@{/sysadmin/lookup.html}"> <div class="fa fa-exchange"></div>
						<span class="" th:text="#{sidebar_lookup}"> Lookup Service </span></a></li>
				<li class="shortcut-button" role="menuitem"><a href="../index.html" th:href="@{/resources/j_spring_security_logout}" class="top-margin10"><div class="fa fa-off"></div>
						<span class="" th:text="#{sidebar_logout}"> Logout</span></a></li>		
			</ul>
		</div>
					
	</div>

	<!-- END: Side Nav Menu -->
	
	
	<!-- START: Navbar Header Fragment -->
	
	<div class="navbar-header navbar-inner-header" role="navigation" th:fragment="navbarHeaderFragment">
			<a th:substituteby="fragment/common :: mobileMenuButtonFragment" class="btn btn-info btn-mainmenu" data-toggle="collapse" data-target=".top-nav.navbar-collapse,.sidebar-nav.navbar-collapse">
				<span class="fa fa-bars"></span>
			</a>
			<h1>
				<span class="nav-title" th:text="${currentPageTitle}">Page Title</span>
			</h1>

			<span th:substituteby="fragment/common :: logoFragment">
				<div style="position: relative;">
					<a id="logoFragment" class="navbar-brand brand logo-fragment" th:href="@{/index.html}"  href="index.html"><span id="brand-blue" class="app-brand"></span><img src="../../resources/img/consent2share-04.svg" th:src="@{/resources/img/consent2share-04.svg}" /></a>
					<span id="watermark" class="pg-watermark"><i><p>This site is for DEMONSTRATION PURPOSES only.</p></i></span>
				</div>
			</span>
			
			<div th:substituteby="fragment/myaccount_menu :: sysAdminMyAccountMenuFragment"
				class="btn-group pull-right">
				<!-- EVERYTHING INSIDE HERE IS REPLACED BY THYMELEAF WITH THE myaccountMenuFragment -->
				<!-- The code below is here as a backup only in the event of a Thymeleaf malfunction -->

				<a class="btn btn-default" href="#"> <span class="glyphicon glyphicon-envelope"></span><span
					class="hidden-sm hidden-md"> Direct E-mail</span> <span
					class="label label-warning hidden-sm">3</span>
				</a>

				<!-- COMPONENT: User Dropdown -->

				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="glyphicon glyphicon-user">&nbsp;</span><span
					class="hidden-sm hidden-md" th:text="#{header_my_account}">
						My Account</span> <span class="caret"></span>
				</a>

				<ul role="menu" class="dropdown-menu">
					<li role="menuitem"><a href="profile.html"
						th:href="@{/patients/profile.html}"
						th:text="#{header_my_profile}">My Profile</a></li>
					<li role="menuitem"><a href="profile.html"
						th:href="@{/patients/profile.html}"
						th:text="#{header_change_password}">Change Password</a></li>
					<li role="menuitem" aria-disabled="true" class="divider"></li>
					<li role="menuitem"><a href="../index.html"
						th:href="@{/resources/j_spring_security_logout}"
						th:text="#{header_logout}">Logout</a></li>
				</ul>

				<!-- END OF SECTION REPLACED BY THYMELEAF -->
			</div>
	</div>
	
	<!-- END: Navbar Header Fragment -->
	
	
	
	<!-- START: Pagination Fragment -->
	<div th:fragment="pagination_fragment" class="sysAdmin_pagination">
		<div id="pagination_numresults_holder" class="pagination">
			<span style="margin: 0;">Total Results: &lt;<span id="pagination_numresults" class="force-inline no-pad" style="margin:0; float:none;"></span>&gt;</span>
		</div>
		<ul class="pagination">
			<li id="pagination_first" class="pagination-li disabled">
  				<span class="pagination-icon pagination-control">&laquo;</span>
  			</li>
  			<li id="pagination_prev" class="pagination-li disabled">
  				<span class="pagination-icon pagination-control">&lsaquo;</span>
  			</li>
  			<li id="pagination_ellipsis_prev" class="pagination-li pagination_ellipsis disabled hidden">
				<span class="pagination-icon pagination-control">...</span>
			</li>
  			<li id="pagination_1" class="pagination-li pagination-page active">
  				<span class="pagination-icon pagination-pagenum" data-pagenum="1">1</span>
  			</li>
  			<li id="pagination_ellipsis_next" class="pagination-li pagination_ellipsis disabled hidden">
				<span class="pagination-icon pagination-control">...</span>
			</li>
			<li id="pagination_next" class="pagination-li disabled">
				<span class="pagination-icon pagination-control">&rsaquo;</span>
			</li>
			<li id="pagination_last" class="pagination-li disabled">
				<span class="pagination-icon pagination-control">&raquo;</span>
			</li>
		</ul>
	</div>
	
	
	<!-- END: Pagination Fragment -->
	
	
</body>

</html>
